{
  "openapi": "3.0.3",
  "info": {
    "title": "Ozon Performance API — выгрузка текущей документации",
    "version": "2.0"
  },
  "servers": [
    {
      "url": "https://api-performance.ozon.ru"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "paths": {
    "/api/client/campaign": {
      "get": {
        "operationId": "ListCampaigns",
        "summary": "Список кампаний",
        "responses": {
          "200": {
            "description": "Список всех кампаний",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "list": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "x-ozon-rendered-type": "string <uint64>",
                            "type": "string",
                            "format": "uint64",
                            "description": "Идентификатор кампании."
                          },
                          "paymentType": {
                            "x-ozon-rendered-type": "string",
                            "type": "string",
                            "description": "Тип оплаты: CPC — за клики, CPM — за показы, CPO — за заказы.",
                            "default": "CAMPAIGN_TYPE_INVALID"
                          },
                          "title": {
                            "x-ozon-rendered-type": "string",
                            "type": "string",
                            "description": "Название кампании."
                          },
                          "state": {
                            "x-ozon-rendered-type": "string",
                            "type": "string",
                            "description": "Состояние кампании: CAMPAIGN_STATE_RUNNING — активная кампания; CAMPAIGN_STATE_PLANNED — кампания, сроки проведения которой ещё не наступили; CAMPAIGN_STATE_STOPPED — кампания, приостановленная из-за нехватки бюджета; CAMPAIGN_STATE_INACTIVE — кампания, остановленная владельцем; CAMPAIGN_STATE_ARCHIVED — архивная кампания; CAMPAIGN_STATE_MODERATION_DRAFT — отредактированная кампания до отправки на модерацию; CAMPAIGN_STATE_MODERATION_IN_PROGRESS — кампания, отправленная на модерацию; CAMPAIGN_STATE_MODERATION_FAILED — кампания, непрошедшая модерацию; CAMPAIGN_STATE_FINISHED — кампания завершена, дата окончания в прошлом, такую кампанию нельзя изменить, можно только клонировать или создать новую.",
                            "default": "CAMPAIGN_STATE_UNKNOWN"
                          },
                          "advObjectType": {
                            "x-ozon-rendered-type": "string",
                            "type": "string",
                            "description": "Тип рекламируемой кампании: SKU — Оплата за клик; BANNER — Баннерная рекламная кампания; SEARCH_PROMO — Оплата за заказ; VIDEO_BANNER — Видеобаннер."
                          },
                          "fromDate": {
                            "x-ozon-rendered-type": "string",
                            "type": "string",
                            "description": "Дата старта рекламной кампании."
                          },
                          "toDate": {
                            "x-ozon-rendered-type": "string",
                            "type": "string",
                            "description": "Дата завершения рекламной кампании."
                          },
                          "autostopStatus": {
                            "x-ozon-rendered-type": "string",
                            "type": "string",
                            "description": "Статус кампании: AUTOSTOP_STATUS_NONE — продавец создал кампанию вручную. AUTOSTOP_STATUS_ENABLED — кампания создана автоматически и остановится, когда кончатся баллы. AUTOSTOP_STATUS_DISABLED — кампания создана автоматически, но она не остановится, когда кончатся баллы. AUTOSTOP_STATUS_STOPPED — баллы закончились, кампания остановлена автоматически.",
                            "default": "AUTOSTOP_STATUS_NONE",
                            "enum": [
                              "AUTOSTOP_STATUS_NONE",
                              "AUTOSTOP_STATUS_ENABLED",
                              "AUTOSTOP_STATUS_DISABLED",
                              "AUTOSTOP_STATUS_STOPPED"
                            ]
                          },
                          "isAutocreated": {
                            "x-ozon-rendered-type": "boolean",
                            "type": "boolean",
                            "description": "true, если кампания создана автоматически."
                          },
                          "budget": {
                            "x-ozon-rendered-type": "string <uint64>",
                            "type": "string",
                            "format": "uint64",
                            "description": "Бюджет рекламной кампании. Единица измерения — одна миллионная доля рубля, округляется до копеек. Например, значение 1 000 000 в параметре равно 1 рублю."
                          },
                          "dailyBudget": {
                            "x-ozon-rendered-type": "string <uint64>",
                            "type": "string",
                            "format": "uint64",
                            "description": "Дневной бюджет рекламной кампании. Единица измерения — одна миллионная доля рубля, округляется до копеек. Например, значение 1 000 000 в параметре равно 1 рублю."
                          },
                          "weeklyBudget": {
                            "x-ozon-rendered-type": "string <uint64>",
                            "type": "string",
                            "format": "uint64",
                            "description": "Недельный бюджет рекламной кампании. Единица измерения — одна миллионная доля рубля, округляется до копеек. Например, значение 1 000 000 в параметре равно 1 рублю."
                          },
                          "placement": {
                            "x-ozon-rendered-type": "string",
                            "type": "string",
                            "description": "Место размещения продвигаемых товаров: PLACEMENT_INVALID — не определено. PLACEMENT_PDP — карточка товара. Доступно только для кампаний с ручным управлением. PLACEMENT_SEARCH_AND_CATEGORY — поиск и рекомендации. PLACEMENT_TOP_PROMOTION — поиск. PLACEMENT_OVERTOP — поиск и главная (Спецразмещение). PLACEMENT_TAKEOVER — одновременный показ товаров на первых 4 плитках. PLACEMENT_TILE_MAIN — главная, нативный баннер.",
                            "default": "PLACEMENT_INVALID",
                            "enum": [
                              "PLACEMENT_INVALID",
                              "PLACEMENT_PDP",
                              "PLACEMENT_SEARCH_AND_CATEGORY",
                              "PLACEMENT_TOP_PROMOTION",
                              "PLACEMENT_OVERTOP",
                              "PLACEMENT_TAKEOVER",
                              "PLACEMENT_TILE_MAIN"
                            ]
                          },
                          "productAutopilotStrategy": {
                            "x-ozon-rendered-type": "string",
                            "type": "string",
                            "description": "Стратегия, которая используется для кампании: MAX_VIEWS — максимальное количество показов; MAX_CLICKS — автостратегия для Поиска и рекомендаций; TOP_MAX_CLICKS — автостратегия для Поиска; TAKEOVER — спецразмещение для Поиска; TOP_PROMOTION — вывод в топ; TARGET_BIDS — средняя стоимость клика для Поиска и рекомендаций; TARGET_CIR — целевой расход; NO_AUTO_STRATEGY — автостратегия не используется.",
                            "default": "NO_AUTO_STRATEGY",
                            "enum": [
                              "MAX_VIEWS",
                              "MAX_CLICKS",
                              "TOP_MAX_CLICKS",
                              "NO_AUTO_STRATEGY",
                              "TAKEOVER",
                              "TOP_PROMOTION",
                              "TARGET_BIDS",
                              "TARGET_CIR"
                            ]
                          },
                          "autopilot": {
                            "x-ozon-rendered-type": "object",
                            "type": "object",
                            "description": "Информация о кампании. Возвращается, если в параметре productAutopilotStrategy включена стратегия.",
                            "properties": {
                              "categoryId": {
                                "x-ozon-rendered-type": "string <uint64>",
                                "type": "string",
                                "format": "uint64",
                                "description": "Идентификатор категории."
                              },
                              "skuAddMode": {
                                "x-ozon-rendered-type": "string",
                                "type": "string",
                                "description": "Разрешение на автоматическое добавление товаров категории, указанной в categoryId, в кампании со стратегией MAX_VIEWS: PRODUCT_CAMPAIGN_SKU_ADD_MODE_UNKNOWN — стратегия добавления товаров в кампанию не установлена; PRODUCT_CAMPAIGN_SKU_ADD_MODE_MANUAL — добавлять товары в кампанию можно только вручную; PRODUCT_CAMPAIGN_SKU_ADD_MODE_AUTO — можно добавлять товары категории categoryId в кампанию автоматически. Если тип разрешения пустой или было передано PRODUCT_CAMPAIGN_SKU_ADD_MODE_UNKNOWN, добавлять товары в кампанию можно только вручную. Для кампаний без стратегии MAX_VIEWS возвращается значение PRODUCT_CAMPAIGN_SKU_ADD_MODE_UNKNOWN.",
                                "enum": [
                                  "PRODUCT_CAMPAIGN_SKU_ADD_MODE_UNKNOWN",
                                  "PRODUCT_CAMPAIGN_SKU_ADD_MODE_MANUAL",
                                  "PRODUCT_CAMPAIGN_SKU_ADD_MODE_AUTO"
                                ]
                              }
                            }
                          },
                          "createdAt": {
                            "x-ozon-rendered-type": "string <date-time>",
                            "type": "string",
                            "format": "date-time",
                            "description": "Дата создания кампании в формате RFC3339."
                          },
                          "updatedAt": {
                            "x-ozon-rendered-type": "string <date-time>",
                            "type": "string",
                            "format": "date-time",
                            "description": "Дата обновления кампании в формате RFC3339."
                          },
                          "productCampaignMode": {
                            "x-ozon-rendered-type": "string",
                            "type": "string",
                            "description": "Режим создания и управления товарной рекламной кампанией: PRODUCT_CAMPAIGN_MODE_AUTO — автоматически; PRODUCT_CAMPAIGN_MODE_MANUAL — вручную.",
                            "default": "PRODUCT_CAMPAIGN_MODE_AUTO",
                            "enum": [
                              "PRODUCT_CAMPAIGN_MODE_AUTO",
                              "PRODUCT_CAMPAIGN_MODE_MANUAL"
                            ]
                          }
                        }
                      },
                      "x-ozon-rendered-type": "Array of objects",
                      "description": "Список кампаний."
                    }
                  }
                },
                "example": {
                  "list": {
                    "id": 48949,
                    "paymentType": "CPM",
                    "title": "Баннерная кампания",
                    "state": "CAMPAIGN_STATE_RUNNING",
                    "advObjectType": "BANNER",
                    "fromDate": "2019-10-07",
                    "toDate": "2021-10-07",
                    "dailyBudget": 504000000,
                    "placement": [
                      "PLACEMENT_PDP"
                    ],
                    "budget": 50000000,
                    "createdAt": "2019-10-07T06:28:44.055042Z",
                    "updatedAt": "2020-10-01T06:28:44.055042Z",
                    "productAutopilotStrategy": "NO_AUTO_STRATEGY",
                    "productCampaignMode": "PRODUCT_CAMPAIGN_MODE_AUTO"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Ошибка запроса",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "x-ozon-rendered-type": "string",
                      "type": "string",
                      "description": "Описание ошибки."
                    }
                  }
                }
              }
            }
          }
        },
        "x-documentation-text": "Список кампаний\nGET\n/api/client/campaign\nОписание и примерыКонсоль\nQUERY PARAMETERS\ncampaignIds\t\nArray of strings <uint64>\n\nСписок идентификаторов кампаний, для которых необходимо вывести информацию.\n\nЕсли передать значение, то в ответе будет информация по кампаниям, которые указаны в поле campaigns. Если поле пустое, информация будет отдана по всем кампаниям.\n\n\nadvObjectType\t\nstring\n\nТип рекламируемой кампании:\n\nSKU — Оплата за клик;\nBANNER — Баннерная рекламная кампания;\nSEARCH_PROMO — Оплата за заказ;\nVIDEO_BANNER — Видеобаннер.\n\nПодробнее о типах рекламных кампаний\n\n\nstate\t\nstring\nDefault: \"CAMPAIGN_STATE_UNKNOWN\"\nEnum: \"CAMPAIGN_STATE_UNKNOWN\" \"CAMPAIGN_STATE_RUNNING\" \"CAMPAIGN_STATE_PLANNED\" \"CAMPAIGN_STATE_STOPPED\" \"CAMPAIGN_STATE_INACTIVE\" \"CAMPAIGN_STATE_ARCHIVED\" \"CAMPAIGN_STATE_MODERATION_DRAFT\" \"CAMPAIGN_STATE_MODERATION_IN_PROGRESS\" \"CAMPAIGN_STATE_MODERATION_FAILED\" \"CAMPAIGN_STATE_FINISHED\"\n\nСостояние кампании.\n\nВозможные значения:\n\nCAMPAIGN_STATE_RUNNING — активная кампания;\nCAMPAIGN_STATE_PLANNED — кампания, сроки проведения которой ещё не наступили;\nCAMPAIGN_STATE_STOPPED — кампания, приостановленная из-за нехватки бюджета;\nCAMPAIGN_STATE_INACTIVE — кампания, остановленная владельцем;\nCAMPAIGN_STATE_ARCHIVED — архивная кампания;\nCAMPAIGN_STATE_MODERATION_DRAFT — отредактированная кампания до отправки на модерацию;\nCAMPAIGN_STATE_MODERATION_IN_PROGRESS — кампания, отправленная на модерацию;\nCAMPAIGN_STATE_MODERATION_FAILED — кампания, непрошедшая модерацию;\nCAMPAIGN_STATE_FINISHED — кампания завершена, дата окончания в прошлом, такую кампанию нельзя изменить, можно только клонировать или создать новую.\n\npage\t\ninteger <int64>\n\nНомер страницы. Пагинация начинается с единицы.\n\n\npageSize\t\ninteger <int64>\n\nРазмер страницы.\n\nОтветы\n200\n\nСписок всех кампаний\n\nRESPONSE SCHEMA: application/json\nlist\t\nArray of objects\n\nСписок кампаний.\n\n\n\nArray ()\nid\t\nstring <uint64>\n\nИдентификатор кампании.\n\n\npaymentType\t\nstring\nDefault: \"CAMPAIGN_TYPE_INVALID\"\n\nТип оплаты:\n\nCPC — за клики,\nCPM — за показы,\nCPO — за заказы.\n\ntitle\t\nstring\n\nНазвание кампании.\n\n\nstate\t\nstring\nDefault: \"CAMPAIGN_STATE_UNKNOWN\"\n\nСостояние кампании:\n\nCAMPAIGN_STATE_RUNNING — активная кампания;\nCAMPAIGN_STATE_PLANNED — кампания, сроки проведения которой ещё не наступили;\nCAMPAIGN_STATE_STOPPED — кампания, приостановленная из-за нехватки бюджета;\nCAMPAIGN_STATE_INACTIVE — кампания, остановленная владельцем;\nCAMPAIGN_STATE_ARCHIVED — архивная кампания;\nCAMPAIGN_STATE_MODERATION_DRAFT — отредактированная кампания до отправки на модерацию;\nCAMPAIGN_STATE_MODERATION_IN_PROGRESS — кампания, отправленная на модерацию;\nCAMPAIGN_STATE_MODERATION_FAILED — кампания, непрошедшая модерацию;\nCAMPAIGN_STATE_FINISHED — кампания завершена, дата окончания в прошлом, такую кампанию нельзя изменить, можно только клонировать или создать новую.\n\nadvObjectType\t\nstring\n\nТип рекламируемой кампании:\n\nSKU — Оплата за клик;\nBANNER — Баннерная рекламная кампания;\nSEARCH_PROMO — Оплата за заказ;\nVIDEO_BANNER — Видеобаннер.\n\nfromDate\t\nstring\n\nДата старта рекламной кампании.\n\n\ntoDate\t\nstring\n\nДата завершения рекламной кампании.\n\n\nautostopStatus\t\nstring\nDefault: \"AUTOSTOP_STATUS_NONE\"\nEnum: \"AUTOSTOP_STATUS_NONE\" \"AUTOSTOP_STATUS_ENABLED\" \"AUTOSTOP_STATUS_DISABLED\" \"AUTOSTOP_STATUS_STOPPED\"\n\nСтатус кампании:\n\nAUTOSTOP_STATUS_NONE — продавец создал кампанию вручную.\nAUTOSTOP_STATUS_ENABLED — кампания создана автоматически и остановится, когда кончатся баллы.\nAUTOSTOP_STATUS_DISABLED — кампания создана автоматически, но она не остановится, когда кончатся баллы.\nAUTOSTOP_STATUS_STOPPED — баллы закончились, кампания остановлена автоматически.\n\nisAutocreated\t\nboolean\n\ntrue, если кампания создана автоматически.\n\n\nbudget\t\nstring <uint64>\n\nБюджет рекламной кампании. Единица измерения — одна миллионная доля рубля, округляется до копеек. Например, значение 1 000 000 в параметре равно 1 рублю.\n\n\ndailyBudget\t\nstring <uint64>\n\nДневной бюджет рекламной кампании. Единица измерения — одна миллионная доля рубля, округляется до копеек. Например, значение 1 000 000 в параметре равно 1 рублю.\n\n\nweeklyBudget\t\nstring <uint64>\n\nНедельный бюджет рекламной кампании. Единица измерения — одна миллионная доля рубля, округляется до копеек. Например, значение 1 000 000 в параметре равно 1 рублю.\n\n\nplacement\t\nstring\nDefault: \"PLACEMENT_INVALID\"\nEnum: \"PLACEMENT_INVALID\" \"PLACEMENT_PDP\" \"PLACEMENT_SEARCH_AND_CATEGORY\" \"PLACEMENT_TOP_PROMOTION\" \"PLACEMENT_OVERTOP\" \"PLACEMENT_TAKEOVER\" \"PLACEMENT_TILE_MAIN\"\n\nМесто размещения продвигаемых товаров:\n\nPLACEMENT_INVALID — не определено.\nPLACEMENT_PDP — карточка товара. Доступно только для кампаний с ручным управлением.\nPLACEMENT_SEARCH_AND_CATEGORY — поиск и рекомендации.\nPLACEMENT_TOP_PROMOTION — поиск.\nPLACEMENT_OVERTOP — поиск и главная (Спецразмещение).\nPLACEMENT_TAKEOVER — одновременный показ товаров на первых 4 плитках.\nPLACEMENT_TILE_MAIN — главная, нативный баннер.\n\nproductAutopilotStrategy\t\nstring\nDefault: \"NO_AUTO_STRATEGY\"\nEnum: \"MAX_VIEWS\" \"MAX_CLICKS\" \"TOP_MAX_CLICKS\" \"NO_AUTO_STRATEGY\" \"TAKEOVER\" \"TOP_PROMOTION\" \"TARGET_BIDS\" \"TARGET_CIR\"\n\nСтратегия, которая используется для кампании:\n\nMAX_VIEWS — максимальное количество показов;\nMAX_CLICKS — автостратегия для Поиска и рекомендаций;\nTOP_MAX_CLICKS — автостратегия для Поиска;\nTAKEOVER — спецразмещение для Поиска;\nTOP_PROMOTION — вывод в топ;\nTARGET_BIDS — средняя стоимость клика для Поиска и рекомендаций;\nTARGET_CIR — целевой расход;\nNO_AUTO_STRATEGY — автостратегия не используется.\n\nautopilot\t\nobject\n\nИнформация о кампании. Возвращается, если в параметре productAutopilotStrategy включена стратегия.\n\n\n\ncategoryId\t\nstring <uint64>\n\nИдентификатор категории.\n\n\nskuAddMode\t\nstring\nEnum: \"PRODUCT_CAMPAIGN_SKU_ADD_MODE_UNKNOWN\" \"PRODUCT_CAMPAIGN_SKU_ADD_MODE_MANUAL\" \"PRODUCT_CAMPAIGN_SKU_ADD_MODE_AUTO\"\n\nРазрешение на автоматическое добавление товаров категории, указанной в categoryId, в кампании со стратегией MAX_VIEWS:\n\nPRODUCT_CAMPAIGN_SKU_ADD_MODE_UNKNOWN — стратегия добавления товаров в кампанию не установлена;\nPRODUCT_CAMPAIGN_SKU_ADD_MODE_MANUAL — добавлять товары в кампанию можно только вручную;\nPRODUCT_CAMPAIGN_SKU_ADD_MODE_AUTO — можно добавлять товары категории categoryId в кампанию автоматически.\n\nЕсли тип разрешения пустой или было передано PRODUCT_CAMPAIGN_SKU_ADD_MODE_UNKNOWN, добавлять товары в кампанию можно только вручную.\n\nДля кампаний без стратегии MAX_VIEWS возвращается значение PRODUCT_CAMPAIGN_SKU_ADD_MODE_UNKNOWN.\n\n\ncreatedAt\t\nstring <date-time>\n\nДата создания кампании в формате RFC3339.\n\n\nupdatedAt\t\nstring <date-time>\n\nДата обновления кампании в формате RFC3339.\n\n\nproductCampaignMode\t\nstring\nDefault: \"PRODUCT_CAMPAIGN_MODE_AUTO\"\nEnum: \"PRODUCT_CAMPAIGN_MODE_AUTO\" \"PRODUCT_CAMPAIGN_MODE_MANUAL\"\n\nРежим создания и управления товарной рекламной кампанией:\n\nPRODUCT_CAMPAIGN_MODE_AUTO — автоматически;\nPRODUCT_CAMPAIGN_MODE_MANUAL — вручную.\ndefault\n\nОшибка запроса\n\nRESPONSE SCHEMA: application/json\nerror\t\nstring\n\nОписание ошибки.\n\nПримеры запроса\nКопировать\nGET /api/client/campaign?campaignIds=52374&advObjectType=SKU&state=CAMPAIGN_STATE_UNKNOWN HTTP/1.1\nAuthorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.WyJFTWhVVU...qTz2XXZBv41h4\nHost: api-performance.ozon.ru:443\nContent-Type: application/json\nAccept: application/json\n\nПримеры ответа\n200default\nContent type\napplication/json\nExample\nБаннерная кампания\n{\n\"list\": \n{\n\"id\": 48949,\n\"paymentType\": \"CPM\",\n\"title\": \"Баннерная кампания\",\n\"state\": \"CAMPAIGN_STATE_RUNNING\",\n\"advObjectType\": \"BANNER\",\n\"fromDate\": \"2019-10-07\",\n\"toDate\": \"2021-10-07\",\n\"dailyBudget\": 504000000,\n\"placement\": \n[\n\"PLACEMENT_PDP\"\n],\n\"budget\": 50000000,\n\"createdAt\": \"2019-10-07T06:28:44.055042Z\",\n\"updatedAt\": \"2020-10-01T06:28:44.055042Z\",\n\"productAutopilotStrategy\": \"NO_AUTO_STRATEGY\",\n\"productCampaignMode\": \"PRODUCT_CAMPAIGN_MODE_AUTO\"\n}\n}\nКопировать\nСвернуть всё",
        "parameters": [
          {
            "name": "campaignIds",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uint64"
              },
              "x-ozon-rendered-type": "Array of strings <uint64>",
              "description": "Список идентификаторов кампаний, для которых необходимо вывести информацию. Если передать значение, то в ответе будет информация по кампаниям, которые указаны в поле campaigns. Если поле пустое, информация будет отдана по всем кампаниям."
            }
          },
          {
            "name": "advObjectType",
            "in": "query",
            "required": false,
            "schema": {
              "x-ozon-rendered-type": "string",
              "type": "string",
              "description": "Тип рекламируемой кампании: SKU — Оплата за клик; BANNER — Баннерная рекламная кампания; SEARCH_PROMO — Оплата за заказ; VIDEO_BANNER — Видеобаннер. Подробнее о типах рекламных кампаний"
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "x-ozon-rendered-type": "string",
              "type": "string",
              "description": "Состояние кампании. Возможные значения: CAMPAIGN_STATE_RUNNING — активная кампания; CAMPAIGN_STATE_PLANNED — кампания, сроки проведения которой ещё не наступили; CAMPAIGN_STATE_STOPPED — кампания, приостановленная из-за нехватки бюджета; CAMPAIGN_STATE_INACTIVE — кампания, остановленная владельцем; CAMPAIGN_STATE_ARCHIVED — архивная кампания; CAMPAIGN_STATE_MODERATION_DRAFT — отредактированная кампания до отправки на модерацию; CAMPAIGN_STATE_MODERATION_IN_PROGRESS — кампания, отправленная на модерацию; CAMPAIGN_STATE_MODERATION_FAILED — кампания, непрошедшая модерацию; CAMPAIGN_STATE_FINISHED — кампания завершена, дата окончания в прошлом, такую кампанию нельзя изменить, можно только клонировать или создать новую.",
              "default": "CAMPAIGN_STATE_UNKNOWN",
              "enum": [
                "CAMPAIGN_STATE_UNKNOWN",
                "CAMPAIGN_STATE_RUNNING",
                "CAMPAIGN_STATE_PLANNED",
                "CAMPAIGN_STATE_STOPPED",
                "CAMPAIGN_STATE_INACTIVE",
                "CAMPAIGN_STATE_ARCHIVED",
                "CAMPAIGN_STATE_MODERATION_DRAFT",
                "CAMPAIGN_STATE_MODERATION_IN_PROGRESS",
                "CAMPAIGN_STATE_MODERATION_FAILED",
                "CAMPAIGN_STATE_FINISHED"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "x-ozon-rendered-type": "integer <int64>",
              "type": "integer",
              "format": "int64",
              "description": "Номер страницы. Пагинация начинается с единицы."
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "x-ozon-rendered-type": "integer <int64>",
              "type": "integer",
              "format": "int64",
              "description": "Размер страницы."
            }
          }
        ],
        "x-ozon-examples": [
          {
            "kind": "request",
            "raw": "GET /api/client/campaign?campaignIds=52374&advObjectType=SKU&state=CAMPAIGN_STATE_UNKNOWN HTTP/1.1\nAuthorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.WyJFTWhVVU...qTz2XXZBv41h4\nHost: api-performance.ozon.ru:443\nContent-Type: application/json\nAccept: application/json"
          },
          {
            "kind": "response",
            "raw": "{\"list\": {\"id\": 48949,\"paymentType\": \"CPM\",\"title\": \"Баннерная кампания\",\"state\": \"CAMPAIGN_STATE_RUNNING\",\"advObjectType\": \"BANNER\",\"fromDate\": \"2019-10-07\",\"toDate\": \"2021-10-07\",\"dailyBudget\": 504000000,\"placement\": [\"PLACEMENT_PDP\"],\"budget\": 50000000,\"createdAt\": \"2019-10-07T06:28:44.055042Z\",\"updatedAt\": \"2020-10-01T06:28:44.055042Z\",\"productAutopilotStrategy\": \"NO_AUTO_STRATEGY\",\"productCampaignMode\": \"PRODUCT_CAMPAIGN_MODE_AUTO\"}}",
            "status": "200",
            "label": "Баннерная кампания",
            "json": {
              "list": {
                "id": 48949,
                "paymentType": "CPM",
                "title": "Баннерная кампания",
                "state": "CAMPAIGN_STATE_RUNNING",
                "advObjectType": "BANNER",
                "fromDate": "2019-10-07",
                "toDate": "2021-10-07",
                "dailyBudget": 504000000,
                "placement": [
                  "PLACEMENT_PDP"
                ],
                "budget": 50000000,
                "createdAt": "2019-10-07T06:28:44.055042Z",
                "updatedAt": "2020-10-01T06:28:44.055042Z",
                "productAutopilotStrategy": "NO_AUTO_STRATEGY",
                "productCampaignMode": "PRODUCT_CAMPAIGN_MODE_AUTO"
              }
            }
          }
        ],
        "x-ozon-documented-fields": [
          {
            "location": "query",
            "fields": [
              {
                "name": "campaignIds",
                "required": false,
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "uint64"
                  },
                  "x-ozon-rendered-type": "Array of strings <uint64>",
                  "description": "Список идентификаторов кампаний, для которых необходимо вывести информацию. Если передать значение, то в ответе будет информация по кампаниям, которые указаны в поле campaigns. Если поле пустое, информация будет отдана по всем кампаниям."
                },
                "documentation": "Array of strings <uint64> Список идентификаторов кампаний, для которых необходимо вывести информацию. Если передать значение, то в ответе будет информация по кампаниям, которые указаны в поле campaigns. Если поле пустое, информация будет отдана по всем кампаниям."
              },
              {
                "name": "advObjectType",
                "required": false,
                "schema": {
                  "x-ozon-rendered-type": "string",
                  "type": "string",
                  "description": "Тип рекламируемой кампании: SKU — Оплата за клик; BANNER — Баннерная рекламная кампания; SEARCH_PROMO — Оплата за заказ; VIDEO_BANNER — Видеобаннер. Подробнее о типах рекламных кампаний"
                },
                "documentation": "string Тип рекламируемой кампании: SKU — Оплата за клик; BANNER — Баннерная рекламная кампания; SEARCH_PROMO — Оплата за заказ; VIDEO_BANNER — Видеобаннер. Подробнее о типах рекламных кампаний"
              },
              {
                "name": "state",
                "required": false,
                "schema": {
                  "x-ozon-rendered-type": "string",
                  "type": "string",
                  "description": "Состояние кампании. Возможные значения: CAMPAIGN_STATE_RUNNING — активная кампания; CAMPAIGN_STATE_PLANNED — кампания, сроки проведения которой ещё не наступили; CAMPAIGN_STATE_STOPPED — кампания, приостановленная из-за нехватки бюджета; CAMPAIGN_STATE_INACTIVE — кампания, остановленная владельцем; CAMPAIGN_STATE_ARCHIVED — архивная кампания; CAMPAIGN_STATE_MODERATION_DRAFT — отредактированная кампания до отправки на модерацию; CAMPAIGN_STATE_MODERATION_IN_PROGRESS — кампания, отправленная на модерацию; CAMPAIGN_STATE_MODERATION_FAILED — кампания, непрошедшая модерацию; CAMPAIGN_STATE_FINISHED — кампания завершена, дата окончания в прошлом, такую кампанию нельзя изменить, можно только клонировать или создать новую.",
                  "default": "CAMPAIGN_STATE_UNKNOWN",
                  "enum": [
                    "CAMPAIGN_STATE_UNKNOWN",
                    "CAMPAIGN_STATE_RUNNING",
                    "CAMPAIGN_STATE_PLANNED",
                    "CAMPAIGN_STATE_STOPPED",
                    "CAMPAIGN_STATE_INACTIVE",
                    "CAMPAIGN_STATE_ARCHIVED",
                    "CAMPAIGN_STATE_MODERATION_DRAFT",
                    "CAMPAIGN_STATE_MODERATION_IN_PROGRESS",
                    "CAMPAIGN_STATE_MODERATION_FAILED",
                    "CAMPAIGN_STATE_FINISHED"
                  ]
                },
                "documentation": "string Default: \"CAMPAIGN_STATE_UNKNOWN\" Enum: \"CAMPAIGN_STATE_UNKNOWN\" \"CAMPAIGN_STATE_RUNNING\" \"CAMPAIGN_STATE_PLANNED\" \"CAMPAIGN_STATE_STOPPED\" \"CAMPAIGN_STATE_INACTIVE\" \"CAMPAIGN_STATE_ARCHIVED\" \"CAMPAIGN_STATE_MODERATION_DRAFT\" \"CAMPAIGN_STATE_MODERATION_IN_PROGRESS\" \"CAMPAIGN_STATE_MODERATION_FAILED\" \"CAMPAIGN_STATE_FINISHED\" Состояние кампании. Возможные значения: CAMPAIGN_STATE_RUNNING — активная кампания; CAMPAIGN_STATE_PLANNED — кампания, сроки проведения которой ещё не наступили; CAMPAIGN_STATE_STOPPED — кампания, приостановленная из-за нехватки бюджета; CAMPAIGN_STATE_INACTIVE — кампания, остановленная владельцем; CAMPAIGN_STATE_ARCHIVED — архивная кампания; CAMPAIGN_STATE_MODERATION_DRAFT — отредактированная кампания до отправки на модерацию; CAMPAIGN_STATE_MODERATION_IN_PROGRESS — кампания, отправленная на модерацию; CAMPAIGN_STATE_MODERATION_FAILED — кампания, непрошедшая модерацию; CAMPAIGN_STATE_FINISHED — кампания завершена, дата окончания в прошлом, такую кампанию нельзя изменить, можно только клонировать или создать новую."
              },
              {
                "name": "page",
                "required": false,
                "schema": {
                  "x-ozon-rendered-type": "integer <int64>",
                  "type": "integer",
                  "format": "int64",
                  "description": "Номер страницы. Пагинация начинается с единицы."
                },
                "documentation": "integer <int64> Номер страницы. Пагинация начинается с единицы."
              },
              {
                "name": "pageSize",
                "required": false,
                "schema": {
                  "x-ozon-rendered-type": "integer <int64>",
                  "type": "integer",
                  "format": "int64",
                  "description": "Размер страницы."
                },
                "documentation": "integer <int64> Размер страницы."
              }
            ]
          },
          {
            "location": "response:200",
            "fields": [
              {
                "name": "list",
                "required": false,
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "x-ozon-rendered-type": "string <uint64>",
                        "type": "string",
                        "format": "uint64",
                        "description": "Идентификатор кампании."
                      },
                      "paymentType": {
                        "x-ozon-rendered-type": "string",
                        "type": "string",
                        "description": "Тип оплаты: CPC — за клики, CPM — за показы, CPO — за заказы.",
                        "default": "CAMPAIGN_TYPE_INVALID"
                      },
                      "title": {
                        "x-ozon-rendered-type": "string",
                        "type": "string",
                        "description": "Название кампании."
                      },
                      "state": {
                        "x-ozon-rendered-type": "string",
                        "type": "string",
                        "description": "Состояние кампании: CAMPAIGN_STATE_RUNNING — активная кампания; CAMPAIGN_STATE_PLANNED — кампания, сроки проведения которой ещё не наступили; CAMPAIGN_STATE_STOPPED — кампания, приостановленная из-за нехватки бюджета; CAMPAIGN_STATE_INACTIVE — кампания, остановленная владельцем; CAMPAIGN_STATE_ARCHIVED — архивная кампания; CAMPAIGN_STATE_MODERATION_DRAFT — отредактированная кампания до отправки на модерацию; CAMPAIGN_STATE_MODERATION_IN_PROGRESS — кампания, отправленная на модерацию; CAMPAIGN_STATE_MODERATION_FAILED — кампания, непрошедшая модерацию; CAMPAIGN_STATE_FINISHED — кампания завершена, дата окончания в прошлом, такую кампанию нельзя изменить, можно только клонировать или создать новую.",
                        "default": "CAMPAIGN_STATE_UNKNOWN"
                      },
                      "advObjectType": {
                        "x-ozon-rendered-type": "string",
                        "type": "string",
                        "description": "Тип рекламируемой кампании: SKU — Оплата за клик; BANNER — Баннерная рекламная кампания; SEARCH_PROMO — Оплата за заказ; VIDEO_BANNER — Видеобаннер."
                      },
                      "fromDate": {
                        "x-ozon-rendered-type": "string",
                        "type": "string",
                        "description": "Дата старта рекламной кампании."
                      },
                      "toDate": {
                        "x-ozon-rendered-type": "string",
                        "type": "string",
                        "description": "Дата завершения рекламной кампании."
                      },
                      "autostopStatus": {
                        "x-ozon-rendered-type": "string",
                        "type": "string",
                        "description": "Статус кампании: AUTOSTOP_STATUS_NONE — продавец создал кампанию вручную. AUTOSTOP_STATUS_ENABLED — кампания создана автоматически и остановится, когда кончатся баллы. AUTOSTOP_STATUS_DISABLED — кампания создана автоматически, но она не остановится, когда кончатся баллы. AUTOSTOP_STATUS_STOPPED — баллы закончились, кампания остановлена автоматически.",
                        "default": "AUTOSTOP_STATUS_NONE",
                        "enum": [
                          "AUTOSTOP_STATUS_NONE",
                          "AUTOSTOP_STATUS_ENABLED",
                          "AUTOSTOP_STATUS_DISABLED",
                          "AUTOSTOP_STATUS_STOPPED"
                        ]
                      },
                      "isAutocreated": {
                        "x-ozon-rendered-type": "boolean",
                        "type": "boolean",
                        "description": "true, если кампания создана автоматически."
                      },
                      "budget": {
                        "x-ozon-rendered-type": "string <uint64>",
                        "type": "string",
                        "format": "uint64",
                        "description": "Бюджет рекламной кампании. Единица измерения — одна миллионная доля рубля, округляется до копеек. Например, значение 1 000 000 в параметре равно 1 рублю."
                      },
                      "dailyBudget": {
                        "x-ozon-rendered-type": "string <uint64>",
                        "type": "string",
                        "format": "uint64",
                        "description": "Дневной бюджет рекламной кампании. Единица измерения — одна миллионная доля рубля, округляется до копеек. Например, значение 1 000 000 в параметре равно 1 рублю."
                      },
                      "weeklyBudget": {
                        "x-ozon-rendered-type": "string <uint64>",
                        "type": "string",
                        "format": "uint64",
                        "description": "Недельный бюджет рекламной кампании. Единица измерения — одна миллионная доля рубля, округляется до копеек. Например, значение 1 000 000 в параметре равно 1 рублю."
                      },
                      "placement": {
                        "x-ozon-rendered-type": "string",
                        "type": "string",
                        "description": "Место размещения продвигаемых товаров: PLACEMENT_INVALID — не определено. PLACEMENT_PDP — карточка товара. Доступно только для кампаний с ручным управлением. PLACEMENT_SEARCH_AND_CATEGORY — поиск и рекомендации. PLACEMENT_TOP_PROMOTION — поиск. PLACEMENT_OVERTOP — поиск и главная (Спецразмещение). PLACEMENT_TAKEOVER — одновременный показ товаров на первых 4 плитках. PLACEMENT_TILE_MAIN — главная, нативный баннер.",
                        "default": "PLACEMENT_INVALID",
                        "enum": [
                          "PLACEMENT_INVALID",
                          "PLACEMENT_PDP",
                          "PLACEMENT_SEARCH_AND_CATEGORY",
                          "PLACEMENT_TOP_PROMOTION",
                          "PLACEMENT_OVERTOP",
                          "PLACEMENT_TAKEOVER",
                          "PLACEMENT_TILE_MAIN"
                        ]
                      },
                      "productAutopilotStrategy": {
                        "x-ozon-rendered-type": "string",
                        "type": "string",
                        "description": "Стратегия, которая используется для кампании: MAX_VIEWS — максимальное количество показов; MAX_CLICKS — автостратегия для Поиска и рекомендаций; TOP_MAX_CLICKS — автостратегия для Поиска; TAKEOVER — спецразмещение для Поиска; TOP_PROMOTION — вывод в топ; TARGET_BIDS — средняя стоимость клика для Поиска и рекомендаций; TARGET_CIR — целевой расход; NO_AUTO_STRATEGY — автостратегия не используется.",
                        "default": "NO_AUTO_STRATEGY",
                        "enum": [
                          "MAX_VIEWS",
                          "MAX_CLICKS",
                          "TOP_MAX_CLICKS",
                          "NO_AUTO_STRATEGY",
                          "TAKEOVER",
                          "TOP_PROMOTION",
                          "TARGET_BIDS",
                          "TARGET_CIR"
                        ]
                      },
                      "autopilot": {
                        "x-ozon-rendered-type": "object",
                        "type": "object",
                        "description": "Информация о кампании. Возвращается, если в параметре productAutopilotStrategy включена стратегия.",
                        "properties": {
                          "categoryId": {
                            "x-ozon-rendered-type": "string <uint64>",
                            "type": "string",
                            "format": "uint64",
                            "description": "Идентификатор категории."
                          },
                          "skuAddMode": {
                            "x-ozon-rendered-type": "string",
                            "type": "string",
                            "description": "Разрешение на автоматическое добавление товаров категории, указанной в categoryId, в кампании со стратегией MAX_VIEWS: PRODUCT_CAMPAIGN_SKU_ADD_MODE_UNKNOWN — стратегия добавления товаров в кампанию не установлена; PRODUCT_CAMPAIGN_SKU_ADD_MODE_MANUAL — добавлять товары в кампанию можно только вручную; PRODUCT_CAMPAIGN_SKU_ADD_MODE_AUTO — можно добавлять товары категории categoryId в кампанию автоматически. Если тип разрешения пустой или было передано PRODUCT_CAMPAIGN_SKU_ADD_MODE_UNKNOWN, добавлять товары в кампанию можно только вручную. Для кампаний без стратегии MAX_VIEWS возвращается значение PRODUCT_CAMPAIGN_SKU_ADD_MODE_UNKNOWN.",
                            "enum": [
                              "PRODUCT_CAMPAIGN_SKU_ADD_MODE_UNKNOWN",
                              "PRODUCT_CAMPAIGN_SKU_ADD_MODE_MANUAL",
                              "PRODUCT_CAMPAIGN_SKU_ADD_MODE_AUTO"
                            ]
                          }
                        }
                      },
                      "createdAt": {
                        "x-ozon-rendered-type": "string <date-time>",
                        "type": "string",
                        "format": "date-time",
                        "description": "Дата создания кампании в формате RFC3339."
                      },
                      "updatedAt": {
                        "x-ozon-rendered-type": "string <date-time>",
                        "type": "string",
                        "format": "date-time",
                        "description": "Дата обновления кампании в формате RFC3339."
                      },
                      "productCampaignMode": {
                        "x-ozon-rendered-type": "string",
                        "type": "string",
                        "description": "Режим создания и управления товарной рекламной кампанией: PRODUCT_CAMPAIGN_MODE_AUTO — автоматически; PRODUCT_CAMPAIGN_MODE_MANUAL — вручную.",
                        "default": "PRODUCT_CAMPAIGN_MODE_AUTO",
                        "enum": [
                          "PRODUCT_CAMPAIGN_MODE_AUTO",
                          "PRODUCT_CAMPAIGN_MODE_MANUAL"
                        ]
                      }
                    }
                  },
                  "x-ozon-rendered-type": "Array of objects",
                  "description": "Список кампаний."
                },
                "documentation": "Array of objects Список кампаний.",
                "children": [
                  {
                    "name": "id",
                    "required": false,
                    "schema": {
                      "x-ozon-rendered-type": "string <uint64>",
                      "type": "string",
                      "format": "uint64",
                      "description": "Идентификатор кампании."
                    },
                    "documentation": "string <uint64> Идентификатор кампании."
                  },
                  {
                    "name": "paymentType",
                    "required": false,
                    "schema": {
                      "x-ozon-rendered-type": "string",
                      "type": "string",
                      "description": "Тип оплаты: CPC — за клики, CPM — за показы, CPO — за заказы.",
                      "default": "CAMPAIGN_TYPE_INVALID"
                    },
                    "documentation": "string Default: \"CAMPAIGN_TYPE_INVALID\" Тип оплаты: CPC — за клики, CPM — за показы, CPO — за заказы."
                  },
                  {
                    "name": "title",
                    "required": false,
                    "schema": {
                      "x-ozon-rendered-type": "string",
                      "type": "string",
                      "description": "Название кампании."
                    },
                    "documentation": "string Название кампании."
                  },
                  {
                    "name": "state",
                    "required": false,
                    "schema": {
                      "x-ozon-rendered-type": "string",
                      "type": "string",
                      "description": "Состояние кампании: CAMPAIGN_STATE_RUNNING — активная кампания; CAMPAIGN_STATE_PLANNED — кампания, сроки проведения которой ещё не наступили; CAMPAIGN_STATE_STOPPED — кампания, приостановленная из-за нехватки бюджета; CAMPAIGN_STATE_INACTIVE — кампания, остановленная владельцем; CAMPAIGN_STATE_ARCHIVED — архивная кампания; CAMPAIGN_STATE_MODERATION_DRAFT — отредактированная кампания до отправки на модерацию; CAMPAIGN_STATE_MODERATION_IN_PROGRESS — кампания, отправленная на модерацию; CAMPAIGN_STATE_MODERATION_FAILED — кампания, непрошедшая модерацию; CAMPAIGN_STATE_FINISHED — кампания завершена, дата окончания в прошлом, такую кампанию нельзя изменить, можно только клонировать или создать новую.",
                      "default": "CAMPAIGN_STATE_UNKNOWN"
                    },
                    "documentation": "string Default: \"CAMPAIGN_STATE_UNKNOWN\" Состояние кампании: CAMPAIGN_STATE_RUNNING — активная кампания; CAMPAIGN_STATE_PLANNED — кампания, сроки проведения которой ещё не наступили; CAMPAIGN_STATE_STOPPED — кампания, приостановленная из-за нехватки бюджета; CAMPAIGN_STATE_INACTIVE — кампания, остановленная владельцем; CAMPAIGN_STATE_ARCHIVED — архивная кампания; CAMPAIGN_STATE_MODERATION_DRAFT — отредактированная кампания до отправки на модерацию; CAMPAIGN_STATE_MODERATION_IN_PROGRESS — кампания, отправленная на модерацию; CAMPAIGN_STATE_MODERATION_FAILED — кампания, непрошедшая модерацию; CAMPAIGN_STATE_FINISHED — кампания завершена, дата окончания в прошлом, такую кампанию нельзя изменить, можно только клонировать или создать новую."
                  },
                  {
                    "name": "advObjectType",
                    "required": false,
                    "schema": {
                      "x-ozon-rendered-type": "string",
                      "type": "string",
                      "description": "Тип рекламируемой кампании: SKU — Оплата за клик; BANNER — Баннерная рекламная кампания; SEARCH_PROMO — Оплата за заказ; VIDEO_BANNER — Видеобаннер."
                    },
                    "documentation": "string Тип рекламируемой кампании: SKU — Оплата за клик; BANNER — Баннерная рекламная кампания; SEARCH_PROMO — Оплата за заказ; VIDEO_BANNER — Видеобаннер."
                  },
                  {
                    "name": "fromDate",
                    "required": false,
                    "schema": {
                      "x-ozon-rendered-type": "string",
                      "type": "string",
                      "description": "Дата старта рекламной кампании."
                    },
                    "documentation": "string Дата старта рекламной кампании."
                  },
                  {
                    "name": "toDate",
                    "required": false,
                    "schema": {
                      "x-ozon-rendered-type": "string",
                      "type": "string",
                      "description": "Дата завершения рекламной кампании."
                    },
                    "documentation": "string Дата завершения рекламной кампании."
                  },
                  {
                    "name": "autostopStatus",
                    "required": false,
                    "schema": {
                      "x-ozon-rendered-type": "string",
                      "type": "string",
                      "description": "Статус кампании: AUTOSTOP_STATUS_NONE — продавец создал кампанию вручную. AUTOSTOP_STATUS_ENABLED — кампания создана автоматически и остановится, когда кончатся баллы. AUTOSTOP_STATUS_DISABLED — кампания создана автоматически, но она не остановится, когда кончатся баллы. AUTOSTOP_STATUS_STOPPED — баллы закончились, кампания остановлена автоматически.",
                      "default": "AUTOSTOP_STATUS_NONE",
                      "enum": [
                        "AUTOSTOP_STATUS_NONE",
                        "AUTOSTOP_STATUS_ENABLED",
                        "AUTOSTOP_STATUS_DISABLED",
                        "AUTOSTOP_STATUS_STOPPED"
                      ]
                    },
                    "documentation": "string Default: \"AUTOSTOP_STATUS_NONE\" Enum: \"AUTOSTOP_STATUS_NONE\" \"AUTOSTOP_STATUS_ENABLED\" \"AUTOSTOP_STATUS_DISABLED\" \"AUTOSTOP_STATUS_STOPPED\" Статус кампании: AUTOSTOP_STATUS_NONE — продавец создал кампанию вручную. AUTOSTOP_STATUS_ENABLED — кампания создана автоматически и остановится, когда кончатся баллы. AUTOSTOP_STATUS_DISABLED — кампания создана автоматически, но она не остановится, когда кончатся баллы. AUTOSTOP_STATUS_STOPPED — баллы закончились, кампания остановлена автоматически."
                  },
                  {
                    "name": "isAutocreated",
                    "required": false,
                    "schema": {
                      "x-ozon-rendered-type": "boolean",
                      "type": "boolean",
                      "description": "true, если кампания создана автоматически."
                    },
                    "documentation": "boolean true, если кампания создана автоматически."
                  },
                  {
                    "name": "budget",
                    "required": false,
                    "schema": {
                      "x-ozon-rendered-type": "string <uint64>",
                      "type": "string",
                      "format": "uint64",
                      "description": "Бюджет рекламной кампании. Единица измерения — одна миллионная доля рубля, округляется до копеек. Например, значение 1 000 000 в параметре равно 1 рублю."
                    },
                    "documentation": "string <uint64> Бюджет рекламной кампании. Единица измерения — одна миллионная доля рубля, округляется до копеек. Например, значение 1 000 000 в параметре равно 1 рублю."
                  },
                  {
                    "name": "dailyBudget",
                    "required": false,
                    "schema": {
                      "x-ozon-rendered-type": "string <uint64>",
                      "type": "string",
                      "format": "uint64",
                      "description": "Дневной бюджет рекламной кампании. Единица измерения — одна миллионная доля рубля, округляется до копеек. Например, значение 1 000 000 в параметре равно 1 рублю."
                    },
                    "documentation": "string <uint64> Дневной бюджет рекламной кампании. Единица измерения — одна миллионная доля рубля, округляется до копеек. Например, значение 1 000 000 в параметре равно 1 рублю."
                  },
                  {
                    "name": "weeklyBudget",
                    "required": false,
                    "schema": {
                      "x-ozon-rendered-type": "string <uint64>",
                      "type": "string",
                      "format": "uint64",
                      "description": "Недельный бюджет рекламной кампании. Единица измерения — одна миллионная доля рубля, округляется до копеек. Например, значение 1 000 000 в параметре равно 1 рублю."
                    },
                    "documentation": "string <uint64> Недельный бюджет рекламной кампании. Единица измерения — одна миллионная доля рубля, округляется до копеек. Например, значение 1 000 000 в параметре равно 1 рублю."
                  },
                  {
                    "name": "placement",
                    "required": false,
                    "schema": {
                      "x-ozon-rendered-type": "string",
                      "type": "string",
                      "description": "Место размещения продвигаемых товаров: PLACEMENT_INVALID — не определено. PLACEMENT_PDP — карточка товара. Доступно только для кампаний с ручным управлением. PLACEMENT_SEARCH_AND_CATEGORY — поиск и рекомендации. PLACEMENT_TOP_PROMOTION — поиск. PLACEMENT_OVERTOP — поиск и главная (Спецразмещение). PLACEMENT_TAKEOVER — одновременный показ товаров на первых 4 плитках. PLACEMENT_TILE_MAIN — главная, нативный баннер.",
                      "default": "PLACEMENT_INVALID",
                      "enum": [
                        "PLACEMENT_INVALID",
                        "PLACEMENT_PDP",
                        "PLACEMENT_SEARCH_AND_CATEGORY",
                        "PLACEMENT_TOP_PROMOTION",
                        "PLACEMENT_OVERTOP",
                        "PLACEMENT_TAKEOVER",
                        "PLACEMENT_TILE_MAIN"
                      ]
                    },
                    "documentation": "string Default: \"PLACEMENT_INVALID\" Enum: \"PLACEMENT_INVALID\" \"PLACEMENT_PDP\" \"PLACEMENT_SEARCH_AND_CATEGORY\" \"PLACEMENT_TOP_PROMOTION\" \"PLACEMENT_OVERTOP\" \"PLACEMENT_TAKEOVER\" \"PLACEMENT_TILE_MAIN\" Место размещения продвигаемых товаров: PLACEMENT_INVALID — не определено. PLACEMENT_PDP — карточка товара. Доступно только для кампаний с ручным управлением. PLACEMENT_SEARCH_AND_CATEGORY — поиск и рекомендации. PLACEMENT_TOP_PROMOTION — поиск. PLACEMENT_OVERTOP — поиск и главная (Спецразмещение). PLACEMENT_TAKEOVER — одновременный показ товаров на первых 4 плитках. PLACEMENT_TILE_MAIN — главная, нативный баннер."
                  },
                  {
                    "name": "productAutopilotStrategy",
                    "required": false,
                    "schema": {
                      "x-ozon-rendered-type": "string",
                      "type": "string",
                      "description": "Стратегия, которая используется для кампании: MAX_VIEWS — максимальное количество показов; MAX_CLICKS — автостратегия для Поиска и рекомендаций; TOP_MAX_CLICKS — автостратегия для Поиска; TAKEOVER — спецразмещение для Поиска; TOP_PROMOTION — вывод в топ; TARGET_BIDS — средняя стоимость клика для Поиска и рекомендаций; TARGET_CIR — целевой расход; NO_AUTO_STRATEGY — автостратегия не используется.",
                      "default": "NO_AUTO_STRATEGY",
                      "enum": [
                        "MAX_VIEWS",
                        "MAX_CLICKS",
                        "TOP_MAX_CLICKS",
                        "NO_AUTO_STRATEGY",
                        "TAKEOVER",
                        "TOP_PROMOTION",
                        "TARGET_BIDS",
                        "TARGET_CIR"
                      ]
                    },
                    "documentation": "string Default: \"NO_AUTO_STRATEGY\" Enum: \"MAX_VIEWS\" \"MAX_CLICKS\" \"TOP_MAX_CLICKS\" \"NO_AUTO_STRATEGY\" \"TAKEOVER\" \"TOP_PROMOTION\" \"TARGET_BIDS\" \"TARGET_CIR\" Стратегия, которая используется для кампании: MAX_VIEWS — максимальное количество показов; MAX_CLICKS — автостратегия для Поиска и рекомендаций; TOP_MAX_CLICKS — автостратегия для Поиска; TAKEOVER — спецразмещение для Поиска; TOP_PROMOTION — вывод в топ; TARGET_BIDS — средняя стоимость клика для Поиска и рекомендаций; TARGET_CIR — целевой расход; NO_AUTO_STRATEGY — автостратегия не используется."
                  },
                  {
                    "name": "autopilot",
                    "required": false,
                    "schema": {
                      "x-ozon-rendered-type": "object",
                      "type": "object",
                      "description": "Информация о кампании. Возвращается, если в параметре productAutopilotStrategy включена стратегия.",
                      "properties": {
                        "categoryId": {
                          "x-ozon-rendered-type": "string <uint64>",
                          "type": "string",
                          "format": "uint64",
                          "description": "Идентификатор категории."
                        },
                        "skuAddMode": {
                          "x-ozon-rendered-type": "string",
                          "type": "string",
                          "description": "Разрешение на автоматическое добавление товаров категории, указанной в categoryId, в кампании со стратегией MAX_VIEWS: PRODUCT_CAMPAIGN_SKU_ADD_MODE_UNKNOWN — стратегия добавления товаров в кампанию не установлена; PRODUCT_CAMPAIGN_SKU_ADD_MODE_MANUAL — добавлять товары в кампанию можно только вручную; PRODUCT_CAMPAIGN_SKU_ADD_MODE_AUTO — можно добавлять товары категории categoryId в кампанию автоматически. Если тип разрешения пустой или было передано PRODUCT_CAMPAIGN_SKU_ADD_MODE_UNKNOWN, добавлять товары в кампанию можно только вручную. Для кампаний без стратегии MAX_VIEWS возвращается значение PRODUCT_CAMPAIGN_SKU_ADD_MODE_UNKNOWN.",
                          "enum": [
                            "PRODUCT_CAMPAIGN_SKU_ADD_MODE_UNKNOWN",
                            "PRODUCT_CAMPAIGN_SKU_ADD_MODE_MANUAL",
                            "PRODUCT_CAMPAIGN_SKU_ADD_MODE_AUTO"
                          ]
                        }
                      }
                    },
                    "documentation": "object Информация о кампании. Возвращается, если в параметре productAutopilotStrategy включена стратегия.",
                    "children": [
                      {
                        "name": "categoryId",
                        "required": false,
                        "schema": {
                          "x-ozon-rendered-type": "string <uint64>",
                          "type": "string",
                          "format": "uint64",
                          "description": "Идентификатор категории."
                        },
                        "documentation": "string <uint64> Идентификатор категории."
                      },
                      {
                        "name": "skuAddMode",
                        "required": false,
                        "schema": {
                          "x-ozon-rendered-type": "string",
                          "type": "string",
                          "description": "Разрешение на автоматическое добавление товаров категории, указанной в categoryId, в кампании со стратегией MAX_VIEWS: PRODUCT_CAMPAIGN_SKU_ADD_MODE_UNKNOWN — стратегия добавления товаров в кампанию не установлена; PRODUCT_CAMPAIGN_SKU_ADD_MODE_MANUAL — добавлять товары в кампанию можно только вручную; PRODUCT_CAMPAIGN_SKU_ADD_MODE_AUTO — можно добавлять товары категории categoryId в кампанию автоматически. Если тип разрешения пустой или было передано PRODUCT_CAMPAIGN_SKU_ADD_MODE_UNKNOWN, добавлять товары в кампанию можно только вручную. Для кампаний без стратегии MAX_VIEWS возвращается значение PRODUCT_CAMPAIGN_SKU_ADD_MODE_UNKNOWN.",
                          "enum": [
                            "PRODUCT_CAMPAIGN_SKU_ADD_MODE_UNKNOWN",
                            "PRODUCT_CAMPAIGN_SKU_ADD_MODE_MANUAL",
                            "PRODUCT_CAMPAIGN_SKU_ADD_MODE_AUTO"
                          ]
                        },
                        "documentation": "string Enum: \"PRODUCT_CAMPAIGN_SKU_ADD_MODE_UNKNOWN\" \"PRODUCT_CAMPAIGN_SKU_ADD_MODE_MANUAL\" \"PRODUCT_CAMPAIGN_SKU_ADD_MODE_AUTO\" Разрешение на автоматическое добавление товаров категории, указанной в categoryId, в кампании со стратегией MAX_VIEWS: PRODUCT_CAMPAIGN_SKU_ADD_MODE_UNKNOWN — стратегия добавления товаров в кампанию не установлена; PRODUCT_CAMPAIGN_SKU_ADD_MODE_MANUAL — добавлять товары в кампанию можно только вручную; PRODUCT_CAMPAIGN_SKU_ADD_MODE_AUTO — можно добавлять товары категории categoryId в кампанию автоматически. Если тип разрешения пустой или было передано PRODUCT_CAMPAIGN_SKU_ADD_MODE_UNKNOWN, добавлять товары в кампанию можно только вручную. Для кампаний без стратегии MAX_VIEWS возвращается значение PRODUCT_CAMPAIGN_SKU_ADD_MODE_UNKNOWN."
                      }
                    ]
                  },
                  {
                    "name": "createdAt",
                    "required": false,
                    "schema": {
                      "x-ozon-rendered-type": "string <date-time>",
                      "type": "string",
                      "format": "date-time",
                      "description": "Дата создания кампании в формате RFC3339."
                    },
                    "documentation": "string <date-time> Дата создания кампании в формате RFC3339."
                  },
                  {
                    "name": "updatedAt",
                    "required": false,
                    "schema": {
                      "x-ozon-rendered-type": "string <date-time>",
                      "type": "string",
                      "format": "date-time",
                      "description": "Дата обновления кампании в формате RFC3339."
                    },
                    "documentation": "string <date-time> Дата обновления кампании в формате RFC3339."
                  },
                  {
                    "name": "productCampaignMode",
                    "required": false,
                    "schema": {
                      "x-ozon-rendered-type": "string",
                      "type": "string",
                      "description": "Режим создания и управления товарной рекламной кампанией: PRODUCT_CAMPAIGN_MODE_AUTO — автоматически; PRODUCT_CAMPAIGN_MODE_MANUAL — вручную.",
                      "default": "PRODUCT_CAMPAIGN_MODE_AUTO",
                      "enum": [
                        "PRODUCT_CAMPAIGN_MODE_AUTO",
                        "PRODUCT_CAMPAIGN_MODE_MANUAL"
                      ]
                    },
                    "documentation": "string Default: \"PRODUCT_CAMPAIGN_MODE_AUTO\" Enum: \"PRODUCT_CAMPAIGN_MODE_AUTO\" \"PRODUCT_CAMPAIGN_MODE_MANUAL\" Режим создания и управления товарной рекламной кампанией: PRODUCT_CAMPAIGN_MODE_AUTO — автоматически; PRODUCT_CAMPAIGN_MODE_MANUAL — вручную."
                  }
                ]
              }
            ]
          },
          {
            "location": "response:default",
            "fields": [
              {
                "name": "error",
                "required": false,
                "schema": {
                  "x-ozon-rendered-type": "string",
                  "type": "string",
                  "description": "Описание ошибки."
                },
                "documentation": "string Описание ошибки."
              }
            ]
          }
        ]
      }
    },
    "/api/client/campaign/{campaignId}/objects": {
      "get": {
        "operationId": "ListCampaignObjects",
        "summary": "Список продвигаемых объектов в кампании",
        "responses": {
          "200": {
            "description": "Список рекламируемых объектов в кампании",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "list": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "x-ozon-rendered-type": "string <uint64>",
                            "type": "string",
                            "format": "uint64",
                            "description": "Идентификатор рекламируемого объекта: SKU — для рекламы товаров в спонсорских полках и в каталоге; числовой идентификатор — для баннерных кампаний."
                          }
                        }
                      },
                      "x-ozon-rendered-type": "Array of objects",
                      "description": "Список идентификаторов рекламируемых объектов."
                    }
                  }
                },
                "example": {
                  "list": [
                    {
                      "id": "string"
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Ошибка запроса",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "x-ozon-rendered-type": "string",
                      "type": "string",
                      "description": "Описание ошибки."
                    }
                  }
                }
              }
            }
          }
        },
        "x-documentation-text": "Список продвигаемых объектов в кампании\nGET\n/api/client/campaign/{campaignId}/objects\nОписание и примерыКонсоль\n\nМетод для получения списка продвигаемых объектов в кампаниях «Оплата за клик», «Баннеры» и «Видеобаннеры».\n\nЧтобы получить товары в кампании «Оплата за заказ», используйте POST /campaign/search_promo/v2/products.\n\nPATH PARAMETERS\ncampaignId\nrequired\n\t\nstring <uint64>\n\nИдентификатор кампании.\n\nОтветы\n200\n\nСписок рекламируемых объектов в кампании\n\nRESPONSE SCHEMA: application/json\nlist\t\nArray of objects\n\nСписок идентификаторов рекламируемых объектов.\n\n\n\nArray ()\nid\t\nstring <uint64>\n\nИдентификатор рекламируемого объекта:\n\nSKU — для рекламы товаров в спонсорских полках и в каталоге;\nчисловой идентификатор — для баннерных кампаний.\ndefault\n\nОшибка запроса\n\nRESPONSE SCHEMA: application/json\nerror\t\nstring\n\nОписание ошибки.\n\nПримеры запроса\nКопировать\nGET /api/client/campaign/48852/objects HTTP/1.1\nHost: api-performance.ozon.ru:443\nContent-Type: application/json\nAccept: application/json\nAuthorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.WyJFTWhVVU...qTz2XXZBv41h4\nПримеры ответа\n200default\nContent type\napplication/json\n{\n\"list\": \n[\n{\n\"id\": \"string\"\n}\n]\n}\nКопировать\nСвернуть всё",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "schema": {
              "x-ozon-rendered-type": "string <uint64>",
              "type": "string",
              "format": "uint64",
              "description": "Идентификатор кампании."
            }
          }
        ],
        "x-ozon-examples": [
          {
            "kind": "request",
            "raw": "GET /api/client/campaign/48852/objects HTTP/1.1\nHost: api-performance.ozon.ru:443\nContent-Type: application/json\nAccept: application/json\nAuthorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.WyJFTWhVVU...qTz2XXZBv41h4"
          },
          {
            "kind": "response",
            "raw": "{\"list\": [{\"id\": \"string\"}]}",
            "status": "200",
            "json": {
              "list": [
                {
                  "id": "string"
                }
              ]
            }
          }
        ],
        "x-ozon-documented-fields": [
          {
            "location": "path",
            "fields": [
              {
                "name": "campaignId",
                "required": true,
                "schema": {
                  "x-ozon-rendered-type": "string <uint64>",
                  "type": "string",
                  "format": "uint64",
                  "description": "Идентификатор кампании."
                },
                "documentation": "string <uint64> Идентификатор кампании."
              }
            ]
          },
          {
            "location": "response:200",
            "fields": [
              {
                "name": "list",
                "required": false,
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "x-ozon-rendered-type": "string <uint64>",
                        "type": "string",
                        "format": "uint64",
                        "description": "Идентификатор рекламируемого объекта: SKU — для рекламы товаров в спонсорских полках и в каталоге; числовой идентификатор — для баннерных кампаний."
                      }
                    }
                  },
                  "x-ozon-rendered-type": "Array of objects",
                  "description": "Список идентификаторов рекламируемых объектов."
                },
                "documentation": "Array of objects Список идентификаторов рекламируемых объектов.",
                "children": [
                  {
                    "name": "id",
                    "required": false,
                    "schema": {
                      "x-ozon-rendered-type": "string <uint64>",
                      "type": "string",
                      "format": "uint64",
                      "description": "Идентификатор рекламируемого объекта: SKU — для рекламы товаров в спонсорских полках и в каталоге; числовой идентификатор — для баннерных кампаний."
                    },
                    "documentation": "string <uint64> Идентификатор рекламируемого объекта: SKU — для рекламы товаров в спонсорских полках и в каталоге; числовой идентификатор — для баннерных кампаний."
                  }
                ]
              }
            ]
          },
          {
            "location": "response:default",
            "fields": [
              {
                "name": "error",
                "required": false,
                "schema": {
                  "x-ozon-rendered-type": "string",
                  "type": "string",
                  "description": "Описание ошибки."
                },
                "documentation": "string Описание ошибки."
              }
            ]
          }
        ]
      }
    },
    "/api/client/limits/list": {
      "get": {
        "operationId": "GetLimitsList",
        "summary": "Лимиты ставок для инструментов продвижения",
        "responses": {
          "200": {
            "description": "Лимиты ставок",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "limits": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "categories": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "bid": {
                                  "x-ozon-rendered-type": "number <double>",
                                  "type": "number",
                                  "format": "double",
                                  "description": "Ставка в рублях."
                                },
                                "category": {
                                  "x-ozon-rendered-type": "string",
                                  "type": "string",
                                  "description": "Категория товара."
                                }
                              }
                            },
                            "x-ozon-rendered-type": "Array of objects",
                            "description": "Минимальная ставка для категории второго уровня. Если категории нет в списке, применяется минимальная ставка для инструмента."
                          },
                          "maxBid": {
                            "x-ozon-rendered-type": "number <double>",
                            "type": "number",
                            "format": "double",
                            "description": "Максимальная ставка в рублях."
                          },
                          "minBid": {
                            "x-ozon-rendered-type": "number <double>",
                            "type": "number",
                            "format": "double",
                            "description": "Минимальная ставка в рублях."
                          },
                          "objectType": {
                            "x-ozon-rendered-type": "string",
                            "type": "string",
                            "description": "Тип инструмента: SKU — Оплата за клик, SEARCH_PROMO — Оплата за заказ.",
                            "enum": [
                              "SKU",
                              "SEARCH_PROMO"
                            ]
                          },
                          "paymentMethod": {
                            "x-ozon-rendered-type": "string",
                            "type": "string",
                            "description": "Способ оплаты: CPO — оплата за заказ, CPC — оплата за клик, CPM — оплата за 1000 показов.",
                            "enum": [
                              "CPO",
                              "CPC",
                              "CPM"
                            ]
                          },
                          "placement": {
                            "x-ozon-rendered-type": "string",
                            "type": "string",
                            "description": "Тип кампании: CAMPAIGN_PLACEMENT_SEARCH_AND_CATEGORY — Поиск и рекомендации; CAMPAIGN_PLACEMENT_TOP_PROMOTION — Поиск; CAMPAIGN_PLACEMENT_OVERTOP — Спецразмещение.",
                            "enum": [
                              "CAMPAIGN_PLACEMENT_SEARCH_AND_CATEGORY",
                              "CAMPAIGN_PLACEMENT_TOP_PROMOTION",
                              "CAMPAIGN_PLACEMENT_OVERTOP"
                            ]
                          }
                        }
                      },
                      "x-ozon-rendered-type": "Array of objects",
                      "description": "Минимальные и максимальные ставки для инструментов продвижения."
                    }
                  }
                },
                "example": {
                  "limits": [
                    {
                      "categories": [
                        {
                          "bid": 0,
                          "category": "string"
                        }
                      ],
                      "maxBid": 0,
                      "minBid": 0,
                      "objectType": "SKU",
                      "paymentMethod": "CPO",
                      "placement": "CAMPAIGN_PLACEMENT_SEARCH_AND_CATEGORY"
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Ошибка",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "x-ozon-rendered-type": "string",
                      "type": "string",
                      "description": "Описание ошибки."
                    }
                  }
                }
              }
            }
          }
        },
        "x-documentation-text": "Лимиты ставок для инструментов продвижения\nGET\n/api/client/limits/list\nОписание и примерыКонсоль\n\nВы можете получить лимиты ставок по инструментам:\n\nОплата за заказ:\nМинимальная и максимальная ставка для инструмента.\nМинимальные ставки за заказ для некоторых категорий товаров.\nСпецразмещение и Оплата за клик:\nМинимальная и максимальная ставка за клик.\nМинимальные ставки за клик для некоторых категорий товаров.\nОтветы\n200\n\nЛимиты ставок\n\nRESPONSE SCHEMA: application/json\nlimits\t\nArray of objects\n\nМинимальные и максимальные ставки для инструментов продвижения.\n\n\n\nArray ()\ncategories\t\nArray of objects\n\nМинимальная ставка для категории второго уровня. Если категории нет в списке, применяется минимальная ставка для инструмента.\n\n\n\nArray ()\nbid\t\nnumber <double>\n\nСтавка в рублях.\n\n\ncategory\t\nstring\n\nКатегория товара.\n\n\nmaxBid\t\nnumber <double>\n\nМаксимальная ставка в рублях.\n\n\nminBid\t\nnumber <double>\n\nМинимальная ставка в рублях.\n\n\nobjectType\t\nstring\nEnum: \"SKU\" \"SEARCH_PROMO\"\n\nТип инструмента:\n\nSKU — Оплата за клик,\nSEARCH_PROMO — Оплата за заказ.\n\npaymentMethod\t\nstring\nEnum: \"CPO\" \"CPC\" \"CPM\"\n\nСпособ оплаты:\n\nCPO — оплата за заказ,\nCPC — оплата за клик,\nCPM — оплата за 1000 показов.\n\nplacement\t\nstring\nEnum: \"CAMPAIGN_PLACEMENT_SEARCH_AND_CATEGORY\" \"CAMPAIGN_PLACEMENT_TOP_PROMOTION\" \"CAMPAIGN_PLACEMENT_OVERTOP\"\n\nТип кампании:\n\nCAMPAIGN_PLACEMENT_SEARCH_AND_CATEGORY — Поиск и рекомендации;\nCAMPAIGN_PLACEMENT_TOP_PROMOTION — Поиск;\nCAMPAIGN_PLACEMENT_OVERTOP — Спецразмещение.\ndefault\n\nОшибка\n\nRESPONSE SCHEMA: application/json\nerror\t\nstring\n\nОписание ошибки.\n\nПримеры ответа\n200default\nContent type\napplication/json\n{\n\"limits\": \n[\n{\n\"categories\": \n[\n{\n\"bid\": 0,\n\"category\": \"string\"\n}\n],\n\"maxBid\": 0,\n\"minBid\": 0,\n\"objectType\": \"SKU\",\n\"paymentMethod\": \"CPO\",\n\"placement\": \"CAMPAIGN_PLACEMENT_SEARCH_AND_CATEGORY\"\n}\n]\n}\nКопировать\nСвернуть всё",
        "x-ozon-examples": [
          {
            "kind": "response",
            "raw": "{\"limits\": [{\"categories\": [{\"bid\": 0,\"category\": \"string\"}],\"maxBid\": 0,\"minBid\": 0,\"objectType\": \"SKU\",\"paymentMethod\": \"CPO\",\"placement\": \"CAMPAIGN_PLACEMENT_SEARCH_AND_CATEGORY\"}]}",
            "status": "200",
            "json": {
              "limits": [
                {
                  "categories": [
                    {
                      "bid": 0,
                      "category": "string"
                    }
                  ],
                  "maxBid": 0,
                  "minBid": 0,
                  "objectType": "SKU",
                  "paymentMethod": "CPO",
                  "placement": "CAMPAIGN_PLACEMENT_SEARCH_AND_CATEGORY"
                }
              ]
            }
          }
        ],
        "x-ozon-documented-fields": [
          {
            "location": "response:200",
            "fields": [
              {
                "name": "limits",
                "required": false,
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "categories": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "bid": {
                              "x-ozon-rendered-type": "number <double>",
                              "type": "number",
                              "format": "double",
                              "description": "Ставка в рублях."
                            },
                            "category": {
                              "x-ozon-rendered-type": "string",
                              "type": "string",
                              "description": "Категория товара."
                            }
                          }
                        },
                        "x-ozon-rendered-type": "Array of objects",
                        "description": "Минимальная ставка для категории второго уровня. Если категории нет в списке, применяется минимальная ставка для инструмента."
                      },
                      "maxBid": {
                        "x-ozon-rendered-type": "number <double>",
                        "type": "number",
                        "format": "double",
                        "description": "Максимальная ставка в рублях."
                      },
                      "minBid": {
                        "x-ozon-rendered-type": "number <double>",
                        "type": "number",
                        "format": "double",
                        "description": "Минимальная ставка в рублях."
                      },
                      "objectType": {
                        "x-ozon-rendered-type": "string",
                        "type": "string",
                        "description": "Тип инструмента: SKU — Оплата за клик, SEARCH_PROMO — Оплата за заказ.",
                        "enum": [
                          "SKU",
                          "SEARCH_PROMO"
                        ]
                      },
                      "paymentMethod": {
                        "x-ozon-rendered-type": "string",
                        "type": "string",
                        "description": "Способ оплаты: CPO — оплата за заказ, CPC — оплата за клик, CPM — оплата за 1000 показов.",
                        "enum": [
                          "CPO",
                          "CPC",
                          "CPM"
                        ]
                      },
                      "placement": {
                        "x-ozon-rendered-type": "string",
                        "type": "string",
                        "description": "Тип кампании: CAMPAIGN_PLACEMENT_SEARCH_AND_CATEGORY — Поиск и рекомендации; CAMPAIGN_PLACEMENT_TOP_PROMOTION — Поиск; CAMPAIGN_PLACEMENT_OVERTOP — Спецразмещение.",
                        "enum": [
                          "CAMPAIGN_PLACEMENT_SEARCH_AND_CATEGORY",
                          "CAMPAIGN_PLACEMENT_TOP_PROMOTION",
                          "CAMPAIGN_PLACEMENT_OVERTOP"
                        ]
                      }
                    }
                  },
                  "x-ozon-rendered-type": "Array of objects",
                  "description": "Минимальные и максимальные ставки для инструментов продвижения."
                },
                "documentation": "Array of objects Минимальные и максимальные ставки для инструментов продвижения.",
                "children": [
                  {
                    "name": "categories",
                    "required": false,
                    "schema": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "bid": {
                            "x-ozon-rendered-type": "number <double>",
                            "type": "number",
                            "format": "double",
                            "description": "Ставка в рублях."
                          },
                          "category": {
                            "x-ozon-rendered-type": "string",
                            "type": "string",
                            "description": "Категория товара."
                          }
                        }
                      },
                      "x-ozon-rendered-type": "Array of objects",
                      "description": "Минимальная ставка для категории второго уровня. Если категории нет в списке, применяется минимальная ставка для инструмента."
                    },
                    "documentation": "Array of objects Минимальная ставка для категории второго уровня. Если категории нет в списке, применяется минимальная ставка для инструмента.",
                    "children": [
                      {
                        "name": "bid",
                        "required": false,
                        "schema": {
                          "x-ozon-rendered-type": "number <double>",
                          "type": "number",
                          "format": "double",
                          "description": "Ставка в рублях."
                        },
                        "documentation": "number <double> Ставка в рублях."
                      },
                      {
                        "name": "category",
                        "required": false,
                        "schema": {
                          "x-ozon-rendered-type": "string",
                          "type": "string",
                          "description": "Категория товара."
                        },
                        "documentation": "string Категория товара."
                      }
                    ]
                  },
                  {
                    "name": "maxBid",
                    "required": false,
                    "schema": {
                      "x-ozon-rendered-type": "number <double>",
                      "type": "number",
                      "format": "double",
                      "description": "Максимальная ставка в рублях."
                    },
                    "documentation": "number <double> Максимальная ставка в рублях."
                  },
                  {
                    "name": "minBid",
                    "required": false,
                    "schema": {
                      "x-ozon-rendered-type": "number <double>",
                      "type": "number",
                      "format": "double",
                      "description": "Минимальная ставка в рублях."
                    },
                    "documentation": "number <double> Минимальная ставка в рублях."
                  },
                  {
                    "name": "objectType",
                    "required": false,
                    "schema": {
                      "x-ozon-rendered-type": "string",
                      "type": "string",
                      "description": "Тип инструмента: SKU — Оплата за клик, SEARCH_PROMO — Оплата за заказ.",
                      "enum": [
                        "SKU",
                        "SEARCH_PROMO"
                      ]
                    },
                    "documentation": "string Enum: \"SKU\" \"SEARCH_PROMO\" Тип инструмента: SKU — Оплата за клик, SEARCH_PROMO — Оплата за заказ."
                  },
                  {
                    "name": "paymentMethod",
                    "required": false,
                    "schema": {
                      "x-ozon-rendered-type": "string",
                      "type": "string",
                      "description": "Способ оплаты: CPO — оплата за заказ, CPC — оплата за клик, CPM — оплата за 1000 показов.",
                      "enum": [
                        "CPO",
                        "CPC",
                        "CPM"
                      ]
                    },
                    "documentation": "string Enum: \"CPO\" \"CPC\" \"CPM\" Способ оплаты: CPO — оплата за заказ, CPC — оплата за клик, CPM — оплата за 1000 показов."
                  },
                  {
                    "name": "placement",
                    "required": false,
                    "schema": {
                      "x-ozon-rendered-type": "string",
                      "type": "string",
                      "description": "Тип кампании: CAMPAIGN_PLACEMENT_SEARCH_AND_CATEGORY — Поиск и рекомендации; CAMPAIGN_PLACEMENT_TOP_PROMOTION — Поиск; CAMPAIGN_PLACEMENT_OVERTOP — Спецразмещение.",
                      "enum": [
                        "CAMPAIGN_PLACEMENT_SEARCH_AND_CATEGORY",
                        "CAMPAIGN_PLACEMENT_TOP_PROMOTION",
                        "CAMPAIGN_PLACEMENT_OVERTOP"
                      ]
                    },
                    "documentation": "string Enum: \"CAMPAIGN_PLACEMENT_SEARCH_AND_CATEGORY\" \"CAMPAIGN_PLACEMENT_TOP_PROMOTION\" \"CAMPAIGN_PLACEMENT_OVERTOP\" Тип кампании: CAMPAIGN_PLACEMENT_SEARCH_AND_CATEGORY — Поиск и рекомендации; CAMPAIGN_PLACEMENT_TOP_PROMOTION — Поиск; CAMPAIGN_PLACEMENT_OVERTOP — Спецразмещение."
                  }
                ]
              }
            ]
          },
          {
            "location": "response:default",
            "fields": [
              {
                "name": "error",
                "required": false,
                "schema": {
                  "x-ozon-rendered-type": "string",
                  "type": "string",
                  "description": "Описание ошибки."
                },
                "documentation": "string Описание ошибки."
              }
            ]
          }
        ]
      }
    },
    "/api/client/min/sku": {
      "post": {
        "operationId": "ExternalCampaign_BidBySKU",
        "summary": "Минимальная ставка для товаров по SKU",
        "responses": {
          "200": {
            "description": "Размер минимальной ставки",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "minBids": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "bid": {
                            "x-ozon-rendered-type": "number <double>",
                            "type": "number",
                            "format": "double",
                            "description": "Размер ставки."
                          },
                          "sku": {
                            "x-ozon-rendered-type": "string <uint64>",
                            "type": "string",
                            "format": "uint64",
                            "description": "Идентификатор товара: Ozon ID или SKU."
                          }
                        }
                      },
                      "x-ozon-rendered-type": "Array of objects",
                      "description": "Информация о минимальных ставках."
                    }
                  }
                },
                "example": {
                  "minBids": [
                    {
                      "bid": 0,
                      "sku": "string"
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Ошибка",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "x-ozon-rendered-type": "string",
                      "type": "string",
                      "description": "Описание ошибки."
                    }
                  }
                }
              }
            }
          }
        },
        "x-documentation-text": "Минимальная ставка для товаров по SKU\nPOST\n/api/client/min/sku\nОписание и примерыКонсоль\n\nИспользуйте метод, чтобы узнать минимальную ставку для одного или нескольких товаров по SKU.\n\nREQUEST BODY SCHEMA: application/json\nmarketplaceId\t\nstring\nEnum: \"MARKETPLACE_ID_RU\" \"MARKETPLACE_ID_KZ\" \"MARKETPLACE_ID_BY\"\n\nСтрана витрины:\n\nMARKETPLACE_ID_RU — Россия;\nMARKETPLACE_ID_KZ — Казахстан;\nMARKETPLACE_ID_BY — Белоруссия.\n\npaymentType\t\nstring\nEnum: \"CPO\" \"CPC\" \"CPC_TOP\"\n\nТип минимальной ставки:\n\nCPO — по кампании «Оплата за заказ»;\nCPC — по поиску и рекомендациям;\nCPC_TOP — по поиску.\n\nsku\t\nArray of strings <uint64>\n\nИдентификатор товара: Ozon ID или SKU.\n\nОтветы\n200\n\nРазмер минимальной ставки\n\nRESPONSE SCHEMA: application/json\nminBids\t\nArray of objects\n\nИнформация о минимальных ставках.\n\n\n\nArray ()\nbid\t\nnumber <double>\n\nРазмер ставки.\n\n\nsku\t\nstring <uint64>\n\nИдентификатор товара: Ozon ID или SKU.\n\ndefault\n\nОшибка\n\nRESPONSE SCHEMA: application/json\nerror\t\nstring\n\nОписание ошибки.\n\nПримеры запроса\nContent type\napplication/json\n{\n\"marketplaceId\": \"MARKETPLACE_ID_RU\",\n\"paymentType\": \"CPO\",\n\"sku\": \n[\n\"string\"\n]\n}\nКопировать\nСвернуть всё\nПримеры ответа\n200default\nContent type\napplication/json\n{\n\"minBids\": \n[\n{\n\"bid\": 0,\n\"sku\": \"string\"\n}\n]\n}\nКопировать\nСвернуть всё",
        "description": "",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "marketplaceId": {
                    "x-ozon-rendered-type": "string",
                    "type": "string",
                    "description": "Страна витрины: MARKETPLACE_ID_RU — Россия; MARKETPLACE_ID_KZ — Казахстан; MARKETPLACE_ID_BY — Белоруссия.",
                    "enum": [
                      "MARKETPLACE_ID_RU",
                      "MARKETPLACE_ID_KZ",
                      "MARKETPLACE_ID_BY"
                    ]
                  },
                  "paymentType": {
                    "x-ozon-rendered-type": "string",
                    "type": "string",
                    "description": "Тип минимальной ставки: CPO — по кампании «Оплата за заказ»; CPC — по поиску и рекомендациям; CPC_TOP — по поиску.",
                    "enum": [
                      "CPO",
                      "CPC",
                      "CPC_TOP"
                    ]
                  },
                  "sku": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uint64"
                    },
                    "x-ozon-rendered-type": "Array of strings <uint64>",
                    "description": "Идентификатор товара: Ozon ID или SKU."
                  }
                }
              },
              "example": {
                "marketplaceId": "MARKETPLACE_ID_RU",
                "paymentType": "CPO",
                "sku": [
                  "string"
                ]
              }
            }
          }
        },
        "x-ozon-examples": [
          {
            "kind": "request",
            "raw": "{\"marketplaceId\": \"MARKETPLACE_ID_RU\",\"paymentType\": \"CPO\",\"sku\": [\"string\"]}",
            "json": {
              "marketplaceId": "MARKETPLACE_ID_RU",
              "paymentType": "CPO",
              "sku": [
                "string"
              ]
            }
          },
          {
            "kind": "response",
            "raw": "{\"minBids\": [{\"bid\": 0,\"sku\": \"string\"}]}",
            "status": "200",
            "json": {
              "minBids": [
                {
                  "bid": 0,
                  "sku": "string"
                }
              ]
            }
          }
        ],
        "x-ozon-documented-fields": [
          {
            "location": "requestBody",
            "fields": [
              {
                "name": "marketplaceId",
                "required": false,
                "schema": {
                  "x-ozon-rendered-type": "string",
                  "type": "string",
                  "description": "Страна витрины: MARKETPLACE_ID_RU — Россия; MARKETPLACE_ID_KZ — Казахстан; MARKETPLACE_ID_BY — Белоруссия.",
                  "enum": [
                    "MARKETPLACE_ID_RU",
                    "MARKETPLACE_ID_KZ",
                    "MARKETPLACE_ID_BY"
                  ]
                },
                "documentation": "string Enum: \"MARKETPLACE_ID_RU\" \"MARKETPLACE_ID_KZ\" \"MARKETPLACE_ID_BY\" Страна витрины: MARKETPLACE_ID_RU — Россия; MARKETPLACE_ID_KZ — Казахстан; MARKETPLACE_ID_BY — Белоруссия."
              },
              {
                "name": "paymentType",
                "required": false,
                "schema": {
                  "x-ozon-rendered-type": "string",
                  "type": "string",
                  "description": "Тип минимальной ставки: CPO — по кампании «Оплата за заказ»; CPC — по поиску и рекомендациям; CPC_TOP — по поиску.",
                  "enum": [
                    "CPO",
                    "CPC",
                    "CPC_TOP"
                  ]
                },
                "documentation": "string Enum: \"CPO\" \"CPC\" \"CPC_TOP\" Тип минимальной ставки: CPO — по кампании «Оплата за заказ»; CPC — по поиску и рекомендациям; CPC_TOP — по поиску."
              },
              {
                "name": "sku",
                "required": false,
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "uint64"
                  },
                  "x-ozon-rendered-type": "Array of strings <uint64>",
                  "description": "Идентификатор товара: Ozon ID или SKU."
                },
                "documentation": "Array of strings <uint64> Идентификатор товара: Ozon ID или SKU."
              }
            ]
          },
          {
            "location": "response:200",
            "fields": [
              {
                "name": "minBids",
                "required": false,
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "bid": {
                        "x-ozon-rendered-type": "number <double>",
                        "type": "number",
                        "format": "double",
                        "description": "Размер ставки."
                      },
                      "sku": {
                        "x-ozon-rendered-type": "string <uint64>",
                        "type": "string",
                        "format": "uint64",
                        "description": "Идентификатор товара: Ozon ID или SKU."
                      }
                    }
                  },
                  "x-ozon-rendered-type": "Array of objects",
                  "description": "Информация о минимальных ставках."
                },
                "documentation": "Array of objects Информация о минимальных ставках.",
                "children": [
                  {
                    "name": "bid",
                    "required": false,
                    "schema": {
                      "x-ozon-rendered-type": "number <double>",
                      "type": "number",
                      "format": "double",
                      "description": "Размер ставки."
                    },
                    "documentation": "number <double> Размер ставки."
                  },
                  {
                    "name": "sku",
                    "required": false,
                    "schema": {
                      "x-ozon-rendered-type": "string <uint64>",
                      "type": "string",
                      "format": "uint64",
                      "description": "Идентификатор товара: Ozon ID или SKU."
                    },
                    "documentation": "string <uint64> Идентификатор товара: Ozon ID или SKU."
                  }
                ]
              }
            ]
          },
          {
            "location": "response:default",
            "fields": [
              {
                "name": "error",
                "required": false,
                "schema": {
                  "x-ozon-rendered-type": "string",
                  "type": "string",
                  "description": "Описание ошибки."
                },
                "documentation": "string Описание ошибки."
              }
            ]
          }
        ]
      }
    },
    "/api/client/products_with_bonuses": {
      "get": {
        "operationId": "ExternalCampaign_ListProductsWithBonuses2",
        "summary": "Список товаров с бонусами",
        "responses": {
          "200": {
            "description": "Список товаров с бонусами",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "skus": {
                      "type": "array",
                      "items": {
                        "type": "string",
[...]
