{
  "openapi": "3.0.0",
  "info": {
    "title": "Ozon Seller API — FBO и общие методы без обязательной платной подписки",
    "version": "2.1",
    "x-logo": {
      "url": "https://st.ozone.ru/s3/redoc/ozon-seller-logo.svg",
      "backgroundColor": null,
      "altText": "Ozon logo"
    },
    "description": "По вопросам работы с Seller API обращайтесь в поддержку через личный кабинет.\n\n<aside class=\"warning\">Обновляем корневой TLS/SSL-сертификат GlobalSign — вместо него будем использовать <a href=\"https://app.harica.gr/\">HARICA</a>.<br><a href=\"https://dev.ozon.ru/news/775-Izmeneniia-v-Ozon-API-migratsiia-kornevogo-sertifikata-UTs-Ozon/\">Подробнее о переходе на HARICA на платформе разработчиков Ozon for dev</a></aside>\n\n> [Инструкции по работе с маркетплейсом](https://seller-edu.ozon.ru)\n\n> [Информационная платформа и сообщество разработчиков Ozon for dev](https://dev.ozon.ru/)\n"
  },
  "servers": [
    {
      "url": "//api-seller.ozon.ru"
    }
  ],
  "paths": {
    "/v1/roles": {
      "post": {
        "summary": "Получить список ролей и методов по API-ключу",
        "description": "Метод для получения информации и ролях и методах, привязанных к API-ключу.\n",
        "operationId": "AccessAPI_RolesByToken",
        "tags": [
          "APIkey"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Client-Id"
          },
          {
            "$ref": "#/components/parameters/Api-Key"
          }
        ],
        "responses": {
          "200": {
            "description": "Список ролей и методов",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1RolesByTokenResponse"
                },
                "example": {
                  "expires_at": "2026-02-18T09:54:23.296Z",
                  "roles": [
                    {
                      "name": "Admin",
                      "methods": [
                        "/v1/actions"
                      ]
                    },
                    {
                      "name": "Posting FBS",
                      "methods": [
                        "/v1/posting"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Ошибка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        },
        "x-fbo-scope": "shared",
        "x-subscription-access": {
          "mode": "no_mandatory_paid_subscription_documented",
          "basis": "Текст текущей документации Ozon; доступ конкретного кабинета определяется его правами."
        }
      }
    },
    "/v1/seller/info": {
      "post": {
        "tags": [
          "SellerInfo"
        ],
        "summary": "Информация о кабинете продавца",
        "operationId": "SellerAPI_SellerInfo",
        "parameters": [
          {
            "$ref": "#/components/parameters/Client-Id"
          },
          {
            "$ref": "#/components/parameters/Api-Key"
          }
        ],
        "responses": {
          "200": {
            "description": "Информация о кабинете продавца",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1SellerInfoResponse"
                },
                "example": {
                  "company": {
                    "country": "Россия",
                    "currency": "RUB",
                    "inn": "7707083893",
                    "legal_name": "Общество с ограниченной ответственностью 'Ромашка'",
                    "name": "ООО 'Ромашка'",
                    "ogrn": "1027700132195",
                    "ownership_form": "Частная собственность",
                    "tax_system": "ОСНО"
                  },
                  "ratings": [
                    {
                      "current_value": {
                        "date_from": "2023-01-15T09:00:00Z",
                        "date_to": "2023-12-31T23:59:59Z",
                        "formatted": "AA+",
                        "status": {
                          "danger": false,
                          "premium": true,
                          "warning": false
                        },
                        "value": 85
                      },
                      "name": "Финансовая устойчивость",
                      "past_value": {
                        "date_from": "2022-01-01T00:00:00Z",
                        "date_to": "2022-12-31T23:59:59Z",
                        "formatted": "A",
                        "status": {
                          "danger": false,
                          "premium": false,
                          "warning": true
                        },
                        "value": 78
                      },
                      "rating": "Высокий уровень",
                      "status": "Активно",
                      "value_type": "Количественный"
                    }
                  ],
                  "subscription": {
                    "is_premium": true,
                    "type": "Профессиональный"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Ошибка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        },
        "x-fbo-scope": "shared",
        "x-subscription-access": {
          "mode": "no_mandatory_paid_subscription_documented",
          "basis": "Текст текущей документации Ozon; доступ конкретного кабинета определяется его правами."
        }
      }
    },
    "/v1/seller/ozon-logistics/info": {
      "post": {
        "tags": [
          "SellerInfo"
        ],
        "summary": "Информация о подключении Ozon Доставки",
        "operationId": "SellerAPI_SellerOzonLogisticsInfo",
        "parameters": [
          {
            "$ref": "#/components/parameters/Client-Id"
          },
          {
            "$ref": "#/components/parameters/Api-Key"
          }
        ],
        "responses": {
          "200": {
            "description": "Информация о подключении Ozon Доставки",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1SellerOzonLogisticsInfoResponse"
                },
                "example": {
                  "available_schemas": [
                    "UNKNOWN"
                  ],
                  "ozon_logistics_enabled": true
                }
              }
            }
          },
          "default": {
            "description": "Ошибка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        },
        "x-fbo-scope": "shared",
        "x-subscription-access": {
          "mode": "no_mandatory_paid_subscription_documented",
          "basis": "Текст текущей документации Ozon; доступ конкретного кабинета определяется его правами."
        }
      }
    },
    "/v1/description-category/tree": {
      "post": {
        "tags": [
          "CategoryAPI"
        ],
        "summary": "Дерево категорий и типов товаров",
        "description": "Возвращает категории и типы для товаров в виде дерева.\n\nСоздание товаров доступно только в категориях последнего уровня, сравните именно их с категориями на своей площадке.\nКатегории не создаются по запросу пользователя.\n\n<aside class=\"warning\">\n  Внимательно выбирайте категорию для товара: для разных категорий применяется разный размер комиссии.\n</aside>\n",
        "operationId": "DescriptionCategoryAPI_GetTree",
        "parameters": [
          {
            "$ref": "#/components/parameters/Client-Id"
          },
          {
            "$ref": "#/components/parameters/Api-Key"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1GetTreeRequest"
              },
              "example": {
                "language": "DEFAULT"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Дерево категорий",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1GetTreeResponse"
                },
                "example": {
                  "result": [
                    {
                      "description_category_id": 17027492,
                      "category_name": "Канцелярские товары",
                      "disabled": false,
                      "children": [
                        {
                          "description_category_id": 17029016,
                          "category_name": "Печати и штампы",
                          "disabled": false,
                          "children": [
                            {
                              "type_name": "Пистолет-маркиратор",
                              "type_id": 970778135,
                              "disabled": false,
                              "children": []
                            }
                          ]
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Ошибка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        },
        "x-fbo-scope": "shared",
        "x-subscription-access": {
          "mode": "no_mandatory_paid_subscription_documented",
          "basis": "Текст текущей документации Ozon; доступ конкретного кабинета определяется его правами."
        }
      }
    },
    "/v1/description-category/attribute": {
      "post": {
        "tags": [
          "CategoryAPI"
        ],
        "summary": "Список характеристик категории",
        "description": "Получение характеристик для указанных категории и типа товара.\n\nЕсли у `dictionary_id` значение `0`, у атрибута нет вложенных справочников.\nЕсли значение другое, то справочники есть. Запросите их методом [/v1/description-category/attribute/values](#operation/DescriptionCategoryAPI_GetAttributeValues).\n",
        "operationId": "DescriptionCategoryAPI_GetAttributes",
        "parameters": [
          {
            "$ref": "#/components/parameters/Client-Id"
          },
          {
            "$ref": "#/components/parameters/Api-Key"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1GetAttributesRequest"
              },
              "example": {
                "description_category_id": 200000933,
                "language": "DEFAULT",
                "type_id": 93080
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Характеристики категории",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1GetAttributesResponse"
                },
                "example": {
                  "result": [
                    {
                      "id": 31,
                      "attribute_complex_id": 32,
                      "name": "Бренд в одежде и обуви",
                      "description": "Укажите наименование бренда, под которым произведён товар. Если товар не имеет бренда, используйте значение \"Нет бренда\"",
                      "type": "string",
                      "is_collection": false,
                      "is_required": true,
                      "is_aspect": false,
                      "max_value_count": 30,
                      "group_name": "",
                      "group_id": 33,
                      "dictionary_id": 28732849,
                      "category_dependent": true,
                      "complex_is_collection": true
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Ошибка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        },
        "x-fbo-scope": "shared",
        "x-subscription-access": {
          "mode": "no_mandatory_paid_subscription_documented",
          "basis": "Текст текущей документации Ozon; доступ конкретного кабинета определяется его правами."
        }
      }
    },
    "/v1/description-category/attribute/values": {
      "post": {
        "tags": [
          "CategoryAPI"
        ],
        "summary": "Справочник значений характеристики",
        "description": "Возвращает справочник значений характеристики.\n\nУзнать, есть ли вложенный справочник, можно через метод [/v1/description-category/attribute](#operation/DescriptionCategoryAPI_GetAttributes). \n",
        "operationId": "DescriptionCategoryAPI_GetAttributeValues",
        "parameters": [
          {
            "$ref": "#/components/parameters/Client-Id"
          },
          {
            "$ref": "#/components/parameters/Api-Key"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1GetAttributeValuesRequest"
              },
              "example": {
                "attribute_id": 85,
                "description_category_id": 17054869,
                "language": "DEFAULT",
                "last_value_id": 100,
                "limit": 100,
                "type_id": 97311
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Справочник характеристик",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1GetAttributeValuesResponse"
                },
                "example": {
                  "result": [
                    {
                      "id": 5055881,
                      "value": "Sunshine",
                      "info": "Здоровье и красота",
                      "picture": "https://ir-20.ozone.ru/s3/multimedia-i/6010930878.jpg"
                    },
                    {
                      "id": 5056737,
                      "value": "Essence",
                      "info": "Красота и здоровье",
                      "picture": "https://ir-20.ozone.ru/s3/multimedia-v/6088253599.jpg"
                    }
                  ],
                  "has_next": true
                }
              }
            }
          },
          "default": {
            "description": "Ошибка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        },
        "x-fbo-scope": "shared",
        "x-subscription-access": {
          "mode": "no_mandatory_paid_subscription_documented",
          "basis": "Текст текущей документации Ozon; доступ конкретного кабинета определяется его правами."
        }
      }
    },
    "/v1/description-category/attribute/values/search": {
      "post": {
        "tags": [
          "CategoryAPI"
        ],
        "summary": "Поиск по справочным значениям характеристики",
        "description": "Возвращает справочные значения характеристики по заданному значению `value` в запросе.\n\nУзнать, есть ли вложенный справочник, можно через метод [/v1/description-category/attribute](#operation/DescriptionCategoryAPI_GetAttributes).\n",
        "operationId": "DescriptionCategoryAPI_SearchAttributeValues",
        "parameters": [
          {
            "$ref": "#/components/parameters/Client-Id"
          },
          {
            "$ref": "#/components/parameters/Api-Key"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1SearchAttributeValuesRequest"
              },
              "example": {
                "attribute_id": 85,
                "description_category_id": 17054869,
                "limit": 100,
                "type_id": 97311,
                "value": "Name"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Справочные значения характеристики.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1SearchAttributeValuesResponse"
                },
                "example": {
                  "result": [
                    {
                      "id": 1,
                      "info": "Черный-товар",
                      "picture": "https://example.com/images/color_black.jpg",
                      "value": "Чёрный"
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Ошибка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        },
        "x-fbo-scope": "shared",
        "x-subscription-access": {
          "mode": "no_mandatory_paid_subscription_documented",
          "basis": "Текст текущей документации Ozon; доступ конкретного кабинета определяется его правами."
        }
      }
    },
    "/v1/product/placement-zone/info": {
      "post": {
        "description": "Вы можете отправить не больше 10 запросов в секунду.\n\n[Подробнее о зонах размещения в Базе знаний продавца](https://seller-edu.ozon.ru/libra/fbo/gruzomesta-i-podgotovka-k-otgruzke/k-kakoi-zone-otnositsya-tovar)\n",
        "tags": [
          "CategoryAPI"
        ],
        "summary": "Получить зоны размещения товаров по SKU перед поставкой",
        "operationId": "ProductAPI_GetProductPlacementZoneInfo",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1GetProductPlacementZoneInfoRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Информация о зонах размещения",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1GetProductPlacementZoneInfoResponse"
                }
              }
            }
          },
          "default": {
            "description": "Ошибка",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        },
        "x-fbo-scope": "shared",
        "x-subscription-access": {
          "mode": "no_mandatory_paid_subscription_documented",
          "basis": "Текст текущей документации Ozon; доступ конкретного кабинета определяется его правами."
        }
      }
    },
    "/v3/product/import": {
      "post": {
        "summary": "Создать или обновить товар",
        "description": "\nМетод для создания товаров и обновления информации о них.\n\nВ сутки можно создать или обновить определённое количество товаров. Чтобы узнать лимит, используйте\n[/v4/product/info/limit](#operation/ProductAPI_GetUploadQuota). Если количество загрузок и обновлений товаров\nпревысит лимит, появится ошибка `item_limit_exceeded`.\n\nУ метода есть лимит на количество операций c товарами в минуту. Если вы превысите лимит, вернётся ошибка `429` с описанием в поле `message` и заголовками:\n- `Item-Retry-After` — время в минутах до обновления лимита. Для суточного лимита — время до 03:00 по московскому времени.\n- `Item-Rate-Limit-Remaining` — остаток операций до следующего сброса лимита.\n\nВ одном запросе можно передать до 100 товаров. Каждый товар — это отдельный элемент в массиве `items`. Укажите\nвсю информацию о товаре: его характеристики, штрихкод, изображения, габариты, цену и валюту цены.\n\nПри обновлении товара передайте в запросе всю информацию о нём.\n\nУказанная валюта должна совпадать с той, которая установлена в настройках личного кабинета. По умолчанию передаётся `RUB` — российский рубль.\nНапример, если у вас установлена валюта юань, передавайте значение `CNY`, иначе вернётся ошибка.\n\nТовар не будет создан или обновлён, если вы заполните неправильно или не укажете:\n   - **Обязательные характеристики**: характеристики отличаются для разных категорий — их можно посмотреть в [Базе знаний продавца](https://global-help.ozon.com/products/requirements/product-info/product-characteristics/#обязательные-характеристики) или получить методом [/v1/description-category/attribute](#operation/DescriptionCategoryAPI_GetAttributes).\n   - **Реальные объёмно-весовые характеристики**: `depth`, `width`, `height`, `dimension_unit`, `weight`, `weight_unit`. Не пропускайте эти параметры в запросе и не указывайте 0.\n\nДля некоторых характеристик можно использовать HTML-теги.\n\nПолучите статус модерации созданного или обновлённого товара в параметре `items.statuses.moderate_status` метода [/v3/product/info/list](#operation/ProductAPI_GetProductInfoList).\nПосле модерации товар появится в вашем личном кабинете, но не будет виден пользователям, пока вы не выставите его\nна продажу.\n\nКаждый товар в запросе — отдельный элемент массива `items`.\n\nЧтобы объединить две карточки, для каждой передайте `9048` в массиве `attributes`. Все атрибуты в этих карточках, кроме размера или цвета, должны совпадать.\n\n## Загрузка изображений\n\nДля загрузки передайте в запросе ссылки на изображения в общедоступном облачном хранилище.\nФормат изображения по ссылке — JPG или PNG.\n\nИзображения в массиве `images` располагайте в соответствии с желаемым порядком на сайте. Для загрузки главного\nизображения товара используйте параметр `primary_image`. Если не передать значение `primary_image`, главным будет\nпервое изображение в массиве `images`.\n\nЧтобы загрузить главное изображение для Ozon Селект:\n1. Проверьте, что в ответе метода [/v1/description-category/attribute](#operation/DescriptionCategoryAPI_GetAttributes) возвращается характеристика с `result.id = 23500`.\n2. Передайте ссылку на изображение в параметре `items.attributes.values.value` с `id = 23500`.\n\nДля каждого товара вы можете загрузить до 50 изображений, включая главное.\nЕсли передать значение `primary_image`, максимальное количество изображений в `images` — 49.\nЕсли параметр `primary_image` пустой, то в `images` можно передать до 50 изображений.\n\nДля загрузки маркетингового цвета используйте поле `color_image`.\n\n[Подробнее о требованиях к фото в Базе знаний продавца](https://seller-edu.ozon.ru/libra/work-with-goods/trebovaniya-k-kartochkam-tovarov/media/foto-i-video-tovara#какие-общие-требования-есть-для-фотографии-товара)\n\nЕсли вы хотите изменить состав или порядок изображений, получите информацию с помощью метода\n[/v3/product/info/list](#operation/ProductAPI_GetProductInfoList) — в нём отображается текущий порядок и\nсостав изображений. Скопируйте данные полей `images` и `color_image`, измените и дополните состав или\nпорядок в соответствии с необходимостью.\n\n## Загрузка видео\n\nДля загрузки передайте в запросе ссылки на видео длительностью от 8 секунд до 5 минут. Формат видео по ссылке — MP4, MOV. \n\n[Подробнее о требованиях к видео в Базе знаний продавца](https://seller-edu.ozon.ru/libra/work-with-goods/trebovaniya-k-kartochkam-tovarov/media/foto-i-video-tovara#каким-должно-быть-видео)\n\nДля этого в параметре `complex_attributes` передайте объект. В нём в массиве `attributes` передайте 2 объекта с `complex_id = 100001`:\n\n- В первом укажите `id = 21841` и в массиве `values` передайте объект с ссылкой на видео.\n\n  __Пример__:\n\n  ```\n  {\n    \"complex_id\": 100001,\n    \"id\": 21841,\n    \"values\": [\n      {\n        \"value\": \"https://www.youtube.com/watch?v=ZwM0iBn03dY\"\n      }\n    ]\n  }\n  ```\n\n- Во втором укажите значение `id = 21837` и в массиве `values` передайте объект с названием видео.\n\n  __Пример__:\n\n  ```\n  {\n    \"complex_id\": 100001,\n    \"id\": 21837,\n    \"values\": [\n      {\n        \"value\": \"videoName_1\"\n      }\n    ]\n  }\n  ```\n\nЕсли вы хотите загрузить несколько видео, передавайте значения для каждого видео в разных объектах массива `values`. Объекты в массиве располагайте в соответствии с желаемым порядком на сайте. Максимальное количество видео — 5.\n\n  __Пример__:\n\n  ```\n  {\n    \"complex_id\": 100001,\n    \"id\": 21837,\n    \"values\": [\n      {\n        \"value\": \"videoName_1\"\n      },\n      {\n        \"value\": \"videoName_2\"\n      }\n    ]\n  },\n  {\n    \"complex_id\": 100001,\n    \"id\": 21841,\n    \"values\": [\n      {\n        \"value\": \"https://www.youtube.com/watch?v=ZwM0iBn03dY\"\n      },\n      {\n        \"value\": \"https://www.youtube.com/watch?v=dQw4w9WgXcQ\"\n      }\n    ]\n  }\n```\n\n## Загрузка видеообложки\n\nВы можете загрузить видеообложку через `complex_attributes`.\n\n[Подробнее о требованиях к видеообложкам в Базе знаний продавца](https://seller-edu.ozon.ru/libra/work-with-goods/trebovaniya-k-kartochkam-tovarov/media/foto-i-video-tovara#какои-должна-быть-видеообложка)\n\n__Пример__:\n\n```\n\"complex_attributes\": [\n  {\n    \"attributes\": [\n      {\n        \"id\": 21845,\n        \"complex_id\": 100002,\n        \"values\": [\n          {\n          \"dictionary_value_id\": 0,\n          \"value\": \"https://v.ozone.ru/vod/video-10/01GFATWQVCDE7G5B721421P1231Q7/asset_1.mp4\"\n          }\n        ]\n      }\n    ]\n  }\n]\n```\n\n[Подробнее о видеообложке в Базе знаний продавца](https://seller-edu.ozon.ru/libra/work-with-goods/zagruzka-tovarov/zagruzka-media/videooblozhka)\n\n## Загрузка таблицы размеров\nВы можете добавить в карточку товара таблицу размеров, созданную с помощью [конструктора](https://table-constructor.ozon.ru/visual-editor). Передайте её в массиве `attributes` в формате JSON как Rich-контент `id = 13164`. <br><br>\n[Конструктор в формате JSON](https://table-constructor.ozon.ru/schema.json)<br>\n[Подробнее о конструкторе в Базе знаний продавца](https://global-help.ozon.com/products/requirements/size-table-constructor/)\n",
        "operationId": "ProductAPI_ImportProductsV3",
        "parameters": [
          {
            "$ref": "#/components/parameters/Client-Id"
          },
          {
            "$ref": "#/components/parameters/Api-Key"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v3ImportProductsRequest"
              },
              "examples": {
                "withoutVideo": {
                  "summary": "Пример запроса без загрузки видео",
                  "value": {
                    "items": [
                      {
                        "attributes": [
                          {
                            "complex_id": 0,
                            "id": 5076,
                            "values": [
                              {
                                "dictionary_value_id": 971082156,
                                "value": "Стойка для акустической системы"
                              }
                            ]
                          },
                          {
                            "complex_id": 0,
                            "id": 9048,
                            "values": [
                              {
                                "value": "Комплект защитных плёнок для X3 NFC. Темный хлопок"
                              }
                            ]
                          },
                          {
                            "complex_id": 0,
                            "id": 8229,
                            "values": [
                              {
                                "dictionary_value_id": 95911,
                                "value": "Комплект защитных плёнок для X3 NFC. Темный хлопок"
                              }
                            ]
                          },
                          {
                            "complex_id": 0,
                            "id": 85,
                            "values": [
                              {
                                "dictionary_value_id": 5060050,
                                "value": "Samsung"
                              }
                            ]
                          },
                          {
                            "complex_id": 0,
                            "id": 10096,
                            "values": [
                              {
                                "dictionary_value_id": 61576,
                                "value": "серый"
                              }
                            ]
                          }
                        ],
                        "barcode": "112772873170",
                        "description_category_id": 17028922,
                        "new_description_category_id": 0,
                        "color_image": "",
                        "complex_attributes": [],
                        "currency_code": "RUB",
                        "depth": 10,
                        "dimension_unit": "mm",
                        "height": 250,
                        "images": [],
                        "name": "Комплект защитных плёнок для X3 NFC. Темный хлопок",
                        "offer_id": "143210608",
                        "old_price": "1100",
                        "pdf_list": [],
                        "price": "1000",
                        "primary_image": "",
                        "promotions": [
                          {
                            "operation": "UNKNOWN",
                            "type": "REVIEWS_PROMO"
                          }
                        ],
                        "type_id": 91565,
                        "vat": "0.1",
                        "weight": 100,
                        "weight_unit": "g",
                        "width": 150
                      }
                    ]
                  }
                },
                "withVideo": {
                  "summary": "Пример запроса с загрузкой видео",
                  "value": {
                    "items": [
                      {
                        "attributes": [
                          {
                            "complex_id": 0,
                            "id": 5076,
                            "values": [
                              {
                                "dictionary_value_id": 971082156,
                                "value": "Стойка для акустической системы"
                              }
                            ]
                          },
                          {
                            "complex_id": 0,
                            "id": 9048,
                            "values": [
                              {
                                "value": "Комплект защитных плёнок для X3 NFC. Тёмный хлопок"
                              }
                            ]
                          },
                          {
                            "complex_id": 0,
                            "id": 8229,
                            "values": [
                              {
                                "dictionary_value_id": 95911,
                                "value": "Комплект защитных плёнок для X3 NFC. Тёмный хлопок"
                              }
                            ]
                          },
                          {
                            "complex_id": 0,
                            "id": 85,
                            "values": [
                              {
                                "dictionary_value_id": 5060050,
                                "value": "Samsung"
                              }
                            ]
                          },
                          {
                            "complex_id": 0,
                            "id": 10096,
                            "values": [
                              {
                                "dictionary_value_id": 61576,
                                "value": "серый"
                              }
                            ]
                          }
                        ],
                        "barcode": "112772873170",
                        "description_category_id": 17028922,
                        "new_description_category_id": 0,
                        "color_image": "",
                        "complex_attributes": [
                          {
                            "attributes": [
                              {
                                "complex_id": 100001,
                                "id": 21841,
                                "values": [
                                  {
                                    "value": "https://www.youtube.com/watch?v=ZwM0iBn03dY"
                                  }
                                ]
                              },
                              {
                                "complex_id": 100001,
                                "id": 21837,
                                "values": [
                                  {
                                    "value": "videoName_1"
                                  }
                                ]
                              }
                            ]
                          },
                          {
                            "attributes": [
                              {
                                "complex_id": 100001,
                                "id": 21841,
                                "values": [
                                  {
                                    "value": "https://www.youtube.com/watch?v=pz15NanA740"
                                  }
                                ]
                              },
                              {
                                "complex_id": 100001,
                                "id": 21837,
                                "values": [
                                  {
                                    "value": "videoName_2"
                                  }
                                ]
                              }
                            ]
                          }
                        ],
                        "currency_code": "RUB",
                        "depth": 10,
                        "dimension_unit": "mm",
                        "height": 250,
                        "images": [],
                        "name": "Комплект защитных плёнок для X3 NFC. Тёмный хлопок",
                        "offer_id": "143210608",
                        "old_price": "1100",
                        "pdf_list": [],
                        "price": "1000",
                        "primary_image": "",
                        "promotions": [
                          {
                            "operation": "UNKNOWN",
                            "type": "REVIEWS_PROMO"
                          }
                        ],
                        "type_id": 91565,
                        "vat": "0.1",
                        "weight": 100,
                        "weight_unit": "g",
                        "width": 150
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Создан новый товар / Информация о товаре обновлена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v3ImportProductsResponse"
                },
                "example": {
                  "result": {
                    "task_id": 172549793
                  }
                }
              }
            }
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "403": {
            "description": "Доступ запрещён",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "409": {
            "description": "Конфликт запроса",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "429": {
            "description": "Слишком много запросов",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                },
                "example": {
                  "code": "RESOURCE_EXHAUSTED",
                  "message": "You have reached operation items limits. Retry after 120 seconds. Remaining 10 items"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        },
        "tags": [
          "ProductAPI"
        ],
        "x-fbo-scope": "shared",
        "x-subscription-access": {
          "mode": "no_mandatory_paid_subscription_documented",
          "basis": "Текст текущей документации Ozon; доступ конкретного кабинета определяется его правами."
        }
      }
    },
    "/v1/product/import/info": {
      "post": {
        "summary": "Узнать статус добавления или обновления товара",
        "description": "Позволяет получить статус создания или обновления карточки товара.\n\nЕсли вы обновили изображение или видео по ссылке, но ссылка не изменилась, для изображения или видео в параметре `result.items.status` вернётся `skipped`.\n",
        "operationId": "ProductAPI_GetImportProductsInfo",
        "parameters": [
          {
            "$ref": "#/components/parameters/Client-Id"
          },
          {
            "$ref": "#/components/parameters/Api-Key"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/productGetImportProductsInfoRequest"
              },
              "example": {
                "task_id": "172549793"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Статус добавления или обновления товара",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/productGetImportProductsInfoResponse"
                },
                "example": {
                  "result": {
                    "items": [
                      {
                        "offer_id": "143210608",
                        "product_id": 137285792,
                        "status": "imported",
                        "errors": []
                      }
                    ],
                    "total": 1
                  }
                }
              }
            }
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "403": {
            "description": "Доступ запрещён",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "409": {
            "description": "Конфликт запроса",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        },
        "tags": [
          "ProductAPI"
        ],
        "x-fbo-scope": "shared",
        "x-subscription-access": {
          "mode": "no_mandatory_paid_subscription_documented",
          "basis": "Текст текущей документации Ozon; доступ конкретного кабинета определяется его правами."
        }
      }
    },
    "/v1/product/import-by-sku": {
      "post": {
        "summary": "Создать товар по SKU",
        "description": "Метод создаёт [копию карточки товара](https://seller-edu.ozon.ru/work-with-goods/zagruzka-tovarov/creating-goods/cherez-kopirovanie)\nс указанным SKU.\n\nМетод копирует только карточку товара другого продавца, скопировать свой товар не получится. Создать копию не получится, если продавец запретил копирование своих карточек.\n\nНельзя: \n - обновить товар по SKU;\n - копировать товар, если вы самозанятый.\n\nПродавцам из России и СНГ можно копировать товары любой страны.\n\nУ метода есть лимит на количество операций c товарами в минуту и в сутки. Если вы превысите лимит, вернётся ошибка `429` с описанием в поле `message` и заголовками:\n- `Item-Retry-After` — время в минутах до обновления лимита. Для суточного лимита — время до 03:00 по московскому времени.\n- `Item-Rate-Limit-Remaining` — остаток операций до следующего сброса лимита.\n\nЧтобы узнать лимит, используйте [/v4/product/info/limit](#operation/ProductAPI_GetUploadQuota).\n",
        "operationId": "ProductAPI_ImportProductsBySKU",
        "parameters": [
          {
            "$ref": "#/components/parameters/Client-Id"
          },
          {
            "$ref": "#/components/parameters/Api-Key"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/productImportProductsBySKURequest"
              },
              "example": {
                "items": [
                  {
                    "sku": 298789742,
                    "name": "Кружка",
                    "offer_id": "91132",
                    "currency_code": "RUB",
                    "old_price": "2590",
                    "price": "2300",
                    "vat": "0.1"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Товар создан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/productImportProductsBySKUResponse"
                },
                "example": {
                  "result": {
                    "task_id": 176594213,
                    "unmatched_sku_list": []
                  }
                }
              }
            }
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "403": {
            "description": "Доступ запрещён",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "409": {
            "description": "Конфликт запроса",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "429": {
            "description": "Слишком много запросов",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                },
                "example": {
                  "code": "RESOURCE_EXHAUSTED",
                  "message": "You have reached operation items limits. Retry after 120 seconds. Remaining 10 items"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        },
        "tags": [
          "ProductAPI"
        ],
        "x-fbo-scope": "shared",
        "x-subscription-access": {
          "mode": "no_mandatory_paid_subscription_documented",
          "basis": "Текст текущей документации Ozon; доступ конкретного кабинета определяется его правами."
        }
      }
    },
    "/v1/product/attributes/update": {
      "post": {
        "summary": "Обновить характеристики товара",
        "description": "Метод позволяет добавлять характеристики и изменять их значения. Изменятся только характеристики, которые вы указали в запросе. Удалить уже заполненные характеристики не получится. Для полного обновления характеристик используйте <a href=\"#operation/ProductAPI_ImportProductsV3\">/v3/product/import</a>.\n\nУ метода есть лимит на количество операций c товарами в минуту и в сутки. Если вы превысите лимит, вернётся ошибка `429` с описанием в поле `message` и заголовками:\n- `Item-Retry-After` — время в минутах до обновления лимита. Для суточного лимита — время до 03:00 по московскому времени.\n- `Item-Rate-Limit-Remaining` — остаток операций до следующего сброса лимита.\n\nЧтобы узнать лимит, используйте [/v4/product/info/limit](#operation/ProductAPI_GetUploadQuota).\n",
        "operationId": "ProductAPI_ProductUpdateAttributes",
        "parameters": [
          {
            "$ref": "#/components/parameters/Client-Id"
          },
          {
            "$ref": "#/components/parameters/Api-Key"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1ProductUpdateAttributesRequest"
              },
              "example": {
                "items": [
                  {
                    "offer_id": "PROD-2023-001",
                    "attributes": [
                      {
                        "complex_id": 1,
                        "id": 1,
                        "values": [
                          {
                            "dictionary_value_id": 1001,
                            "value": "Синий"
                          }
                        ]
                      },
                      {
                        "complex_id": 2,
                        "id": 2,
                        "values": [
                          {
                            "dictionary_value_id": 2001,
                            "value": "42"
                          }
                        ]
                      },
                      {
                        "complex_id": 3,
                        "id": 3,
                        "values": [
                          {
                            "dictionary_value_id": 3001,
                            "value": "Хлопок"
                          },
                          {
                            "dictionary_value_id": 3002,
                            "value": "Полиэстер"
                          }
                        ]
                      }
                    ]
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Создано задание на обновление товаров",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1ProductUpdateAttributesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "403": {
            "description": "Доступ запрещён",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "409": {
            "description": "Конфликт запроса",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "429": {
            "description": "Слишком много запросов",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                },
                "example": {
                  "code": "RESOURCE_EXHAUSTED",
                  "message": "You have reached operation items limits. Retry after 120 seconds. Remaining 10 items"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        },
        "tags": [
          "ProductAPI"
        ],
        "x-fbo-scope": "shared",
        "x-subscription-access": {
          "mode": "no_mandatory_paid_subscription_documented",
          "basis": "Текст текущей документации Ozon; доступ конкретного кабинета определяется его правами."
        }
      }
    },
    "/v1/product/pictures/import": {
      "post": {
        "summary": "Загрузить или обновить изображения товара",
        "deprecated": true,
        "description": "<aside class=\"warning\">\nС 1 октября 2026 года метод будет отключён. Переключитесь на <a href=\"#operation/ProductImportPicturesV2\">/v2/product/pictures/import</a>.\n</aside>\n\nМетод для загрузки или обновления изображений товара.\n\nПри каждом вызове метода передавайте все изображения, которые должны быть на карточке товара. Например, если вы вызвали метод и загрузили 10 изображений, а затем вызвали метод второй раз и загрузили ещё одно,\nто все 10 предыдущих сотрутся.\n\nДля загрузки передайте адрес ссылки на изображение в общедоступном облачном хранилище.\nФормат изображения по ссылке — JPG или PNG.\n\nИзображения в массиве `images` располагайте в соответствии с желаемым порядком на сайте. Главным будет\nпервое изображение в массиве.\n\nДля каждого товара вы можете загрузить до 50 изображений.\n\nДля загрузки маркетингового цвета используйте поле `color_image`.\n\n[Подробнее о требованиях к фото в Базе знаний продавца](https://seller-edu.ozon.ru/libra/work-with-goods/trebovaniya-k-kartochkam-tovarov/media/foto-i-video-tovara#какие-общие-требования-есть-для-фотографии-товара)\n\nЕсли вы хотите изменить состав или порядок изображений, получите информацию с помощью метода\n[/v3/product/info/list](#operation/ProductAPI_GetProductInfoList) — в нём отображается текущий порядок и\nсостав изображений. Скопируйте данные полей `images` и `color_image`, измените и дополните состав или\nпорядок в соответствии с необходимостью.\n\nЕсли вы обновили изображение по ссылке, но ссылка не изменилась, в методе [/v1/product/import/info](#operation/ProductAPI_GetImportProductsInfo) для изображения в параметре `result.items.status` вернётся `skipped`.\n\nУ метода есть лимит на количество операций c товарами в минуту и в сутки. Если вы превысите лимит, вернётся ошибка `429` с описанием в поле `message` и заголовками:\n- `Item-Retry-After` — время в минутах до обновления лимита. Для суточного лимита — время до 03:00 по московскому времени.\n- `Item-Rate-Limit-Remaining` — остаток операций до следующего сброса лимита.\n\nЧтобы узнать лимит, используйте [/v4/product/info/limit](#operation/ProductAPI_GetUploadQuota).\n",
        "operationId": "ProductAPI_ProductImportPictures",
        "parameters": [
          {
            "$ref": "#/components/parameters/Client-Id"
          },
          {
            "$ref": "#/components/parameters/Api-Key"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/productv1ProductImportPicturesRequest"
              },
              "example": {
                "color_image": "https://example.com/cloud-storage/color/marketing-color-red.jpg",
                "images": [
                  "https://example.com/cloud-storage/images/main-image-front.jpg",
                  "https://example.com/cloud-storage/images/secondary-image-side.jpg",
                  "https://example.com/cloud-storage/images/secondary-image-back.jpg",
                  "https://example.com/cloud-storage/images/secondary-image-detail1.jpg",
                  "https://example.com/cloud-storage/images/secondary-image-detail2.jpg"
                ],
                "product_id": 123456789
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Предварительный результат работы метода",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/productv1ProductInfoPicturesResponse"
                },
                "example": {
                  "result": {
                    "pictures": [
                      {
                        "is_color": true,
                        "is_primary": true,
                        "product_id": 123456789,
                        "state": "uploaded",
                        "url": ""
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "403": {
            "description": "Доступ запрещён",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "409": {
            "description": "Конфликт запроса",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "429": {
            "description": "Слишком много запросов",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                },
                "example": {
                  "code": "RESOURCE_EXHAUSTED",
                  "message": "You have reached operation items limits. Retry after 120 seconds. Remaining 10 items"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        },
        "tags": [
          "ProductAPI"
        ],
        "x-fbo-scope": "shared",
        "x-subscription-access": {
          "mode": "no_mandatory_paid_subscription_documented",
          "basis": "Текст текущей документации Ozon; доступ конкретного кабинета определяется его правами."
        }
      }
    },
    "/v2/product/pictures/import": {
      "post": {
        "summary": "Загрузить или обновить изображения товара",
        "description": "При каждом вызове метода передавайте все изображения, которые должны быть на карточке товара. Например, если вы вызвали метод и загрузили 10 изображений, а затем вызвали метод второй раз и загрузили ещё одно,\nто все 10 предыдущих сотрутся.\n\nДля загрузки передайте адрес ссылки на изображение в общедоступном облачном хранилище.\nФормат изображения по ссылке — JPG или PNG.\n\nИзображения в массиве `items.images` располагайте в соответствии с желаемым порядком на сайте. Главным будет\nпервое изображение в массиве.\n\nДля каждого товара вы можете загрузить до 50 изображений.\n\nДля загрузки маркетингового цвета используйте поле `items.color_image`.\n\n[Подробнее о требованиях к фото в Базе знаний продавца](https://seller-edu.ozon.ru/libra/work-with-goods/trebovaniya-k-kartochkam-tovarov/media/foto-i-video-tovara#какие-общие-требования-есть-для-фотографии-товара)\n\nЕсли вы хотите изменить состав или порядок изображений, получите информацию с помощью метода\n[/v3/product/info/list](#operation/ProductAPI_GetProductInfoList) — в нём отображается текущий порядок и\nсостав изображений. Скопируйте данные полей `items.images` и `items.color_image`, измените и дополните состав или\nпорядок при необходимости.\n\nУ метода есть лимит на количество операций c товарами в минуту и в сутки. Если вы превысите лимит, вернётся ошибка `429` с описанием в поле `message` и заголовками:\n- `Item-Retry-After` — время в минутах до обновления лимита. Для суточного лимита — время до 03:00 по московскому времени.\n- `Item-Rate-Limit-Remaining` — остаток операций до следующего сброса лимита.\n\nЧтобы узнать лимит, используйте метод [/v4/product/info/limit](#operation/ProductAPI_GetUploadQuota).\n",
        "operationId": "ProductImportPicturesV2",
        "parameters": [
          {
            "$ref": "#/components/parameters/Client-Id"
          },
          {
            "$ref": "#/components/parameters/Api-Key"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/product.v2.ProductImportPicturesV2Request"
              },
              "example": {
                "items": [
                  {
                    "offer_id": "PROD-2023-001",
                    "primary_image": "https://example.com/cloud-storage/images/main-image-front.jpg",
                    "color_image": "",
                    "images": []
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Изображения загружены или обновлены",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/product.v2.ProductInfoPicturesV2Response"
                },
                "example": {
                  "task_id": 0
                }
              }
            }
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "403": {
            "description": "Доступ запрещён",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "409": {
            "description": "Конфликт запроса",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "429": {
            "description": "Слишком много запросов",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        },
        "tags": [
          "ProductAPI"
        ],
        "x-fbo-scope": "shared",
        "x-subscription-access": {
          "mode": "no_mandatory_paid_subscription_documented",
          "basis": "Текст текущей документации Ozon; доступ конкретного кабинета определяется его правами."
        }
      }
    },
    "/v3/product/list": {
      "post": {
        "summary": "Список товаров",
        "operationId": "ProductAPI_GetProductList",
        "parameters": [
          {
            "$ref": "#/components/parameters/Client-Id"
          },
          {
            "$ref": "#/components/parameters/Api-Key"
          }
        ],
        "description": "<aside class=\"warning\">\n  23 ноября 2026 года отключим параметр <code>result.total</code> в ответе метода. Переключитесь на <code>result.total_items</code>.\n</aside> \n\nМетод для получения списка всех товаров.\n\nЕсли вы используете фильтр по идентификатору `offer_id` или `product_id`, остальные параметры заполнять не обязательно.\nВернутся все товары с указанными идентификаторами, независимо от видимости.\nЗа один раз вы можете использовать только одну группу идентификаторов, не больше 1000 товаров.\n\nЕсли вы не используете для отображения идентификаторы, укажите `limit` и `last_id` в следующих запросах.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/productv3GetProductListRequest"
              },
              "example": {
                "filter": {
                  "offer_id": [
                    "136748"
                  ],
                  "product_id": [
                    "223681945"
                  ],
                  "skus": [
                    "179737222"
                  ],
                  "visibility": "ALL"
                },
                "last_id": "",
                "limit": 100
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Список товаров",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/productv3GetProductListResponse"
                },
                "example": {
                  "result": {
                    "items": [
                      {
                        "product_id": 3397917680,
                        "offer_id": "2026-01-13 16:56:03 PDF",
                        "sku": 987654321,
                        "has_fbo_stocks": false,
                        "has_fbs_stocks": false,
                        "archived": false,
                        "is_discounted": false,
                        "quants": []
                      }
                    ],
                    "total": 1,
                    "total_items": 1,
                    "last_id": "WzMzOTc5MTc2ODAsMzM5NzkxNzY4MF0="
                  }
                }
              }
            }
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "403": {
            "description": "Доступ запрещён",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "409": {
            "description": "Конфликт запроса",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        },
        "tags": [
          "ProductAPI"
        ],
        "x-fbo-scope": "shared",
        "x-subscription-access": {
          "mode": "no_mandatory_paid_subscription_documented",
          "basis": "Текст текущей документации Ozon; доступ конкретного кабинета определяется его правами."
        }
      }
    },
    "/v1/product/rating-by-sku": {
      "post": {
        "summary": "Получить контент-рейтинг товаров по SKU",
        "description": "Метод для получения контент-рейтинга товаров, а также рекомендаций по его увеличению.\n\n[Подробнее о контент-рейтинге](https://seller-edu.ozon.ru/docs/work-with-goods/content-rating.html)\n",
        "operationId": "ProductAPI_GetProductRatingBySku",
        "parameters": [
          {
            "$ref": "#/components/parameters/Client-Id"
          },
          {
            "$ref": "#/components/parameters/Api-Key"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1GetProductRatingBySkuRequest"
              },
              "example": {
                "skus": [
                  "179737222"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Контент-рейтинг товаров",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v1GetProductRatingBySkuResponse"
                },
                "example": {
                  "products": [
                    {
                      "sku": 179737222,
                      "rating": 42.5,
                      "groups": [
                        {
                          "key": "media",
                          "name": "Медиа",
                          "rating": 70,
                          "weight": 25,
                          "conditions": [
                            {
                              "key": "media_images_2",
                              "description": "Добавлено 2 изображения",
                              "fulfilled": true,
                              "cost": 50
                            },
                            {
                              "key": "media_images_3",
                              "description": "Добавлено 3 изображения и более",
                              "fulfilled": true,
                              "cost": 20
                            },
                            {
                              "key": "media_image_3d",
                              "description": "Добавлено 3D-изображение",
                              "fulfilled": false,
                              "cost": 15
                            },
                            {
                              "key": "media_video",
                              "description": "Добавлено видео",
                              "fulfilled": false,
                              "cost": 15
                            }
                          ],
                          "improve_attributes": [
                            {
                              "id": 4074,
                              "name": "Код ролика на YouTube"
                            },
                            {
                              "id": 4080,
                              "name": "3D-изображение"
                            }
                          ],
                          "improve_at_least": 2
                        },
                        {
                          "key": "important_attributes",
                          "name": "Важные атрибуты",
                          "rating": 50,
                          "weight": 30,
                          "conditions": [
                            {
                              "key": "important_2",
                              "description": "Заполнено 2 атрибута и более",
                              "fulfilled": true,
                              "cost": 50
                            },
                            {
                              "key": "important_50_percent",
                              "description": "Заполнено более 50% атрибутов",
                              "fulfilled": false,
                              "cost": 25
                            },
                            {
                              "key": "important_70_percent",
                              "description": "Заполнено более 70% атрибутов",
                              "fulfilled": false,
                              "cost": 25
                            }
                          ],
                          "improve_attributes": [
                            {
                              "id": 4385,
                              "name": "Гарантийный срок"
                            },
                            {
                              "id": 4389,
                              "name": "Страна-изготовитель"
                            },
                            {
                              "id": 8513,
                              "name": "Количество в упаковке, шт"
                            },
                            {
                              "id": 8590,
                              "name": "Макс. диагональ, дюймы"
                            },
                            {
                              "id": 8591,
                              "name": "Мин. диагональ, дюймы"
                            },
                            {
                              "id": 9336,
                              "name": "Модель браслета/умных часов"
                            },
                            {
                              "id": 11046,
                              "name": "Покрытие"
                            },
                            {
                              "id": 11047,
                              "name": "Прозрачность покрытия"
                            },
                            {
                              "id": 11048,
                              "name": "Дополнительные свойства покрытия"
                            },
                            {
                              "id": 11049,
                              "name": "Вид стекла"
                            },
                            {
                              "id": 11603,
                              "name": "Размер циферблата"
                            }
                          ],
                          "improve_at_least": 6
                        },
                        {
                          "key": "other_attributes",
                          "name": "Остальные атрибуты",
                          "rating": 0,
                          "weight": 25,
                          "conditions": [
                            {
                              "key": "other_2",
                              "description": "Заполнено 2 атрибута и более",
                              "fulfilled": false,
                              "cost": 50
                            },
                            {
                              "key": "other_50_percent",
                              "description": "Заполнено более 50% атрибутов",
                              "fulfilled": false,
                              "cost": 50
                            }
                          ],
                          "improve_attributes": [
                            {
                              "id": 4382,
                              "name": "Размеры, мм"
                            }
                          ],
                          "improve_at_least": 1
                        },
                        {
                          "key": "text",
                          "name": "Текстовое описание",
                          "rating": 50,
                          "weight": 20,
                          "conditions": [
                            {
                              "key": "text_annotation_100_chars",
                              "description": "Аннотация более 100 знаков",
                              "fulfilled": true,
                              "cost": 25
                            },
                            {
                              "key": "text_annotation_500_chars",
                              "description": "Аннотация более 500 знаков",
                              "fulfilled": true,
                              "cost": 25
                            },
                            {
                              "key": "text_rich",
                              "description": "Заполнен Rich-контент",
                              "fulfilled": false,
                              "cost": 100
                            }
                          ],
                          "improve_attributes": [
                            {
                              "id": 11254,
                              "name": "Rich-контент JSON"
                            }
                          ],
                          "improve_at_least": 1
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "403": {
            "description": "Доступ запрещён",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "409": {
            "description": "Конфликт запроса",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        },
        "tags": [
          "ProductAPI"
        ],
        "x-fbo-scope": "shared",
        "x-subscription-access": {
          "mode": "no_mandatory_paid_subscription_documented",
          "basis": "Текст текущей документации Ozon; доступ конкретного кабинета определяется его правами."
        }
      }
    },
    "/v3/product/info/list": {
      "post": {
        "summary": "Получить информацию о товарах по идентификаторам",
        "description": "\nМетод для получения информации о товарах по их идентификаторам.\n\nВ теле запроса должен быть массив однотипных идентификаторов, в ответе будет массив `items`.\n\nВ одном запросе вы можете передать не больше 1000 товаров по параметрам `offer_id`, `product_id` и `sku` в сумме.\n",
        "operationId": "ProductAPI_GetProductInfoList",
        "parameters": [
          {
            "$ref": "#/components/parameters/Client-Id"
          },
          {
            "$ref": "#/components/parameters/Api-Key"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v3GetProductInfoListRequest"
              },
              "example": {
                "offer_id": [
                  "2026113PDF"
                ],
                "product_id": [
                  "3339791176800"
                ],
                "sku": [
                  "33373353831"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Список товаров",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v3GetProductInfoListResponse"
                },
                "example": {
                  "items": [
                    {
                      "availabilities": [
                        {
                          "availability": "AVAILABLE",
                          "reasons": [
                            {
                              "human_text": {
                                "text": "Товар доступен на складе"
                              },
                              "id": 12345
                            }
                          ],
                          "sku": 987654321,
                          "source": "main_warehouse"
                        }
                      ],
                      "barcodes": [
                        "123456789012"
                      ],
                      "color_image": [
                        "https://example.com/color_image_123.jpg"
                      ],
                      "commissions": [
                        {
                          "delivery_amount": 150,
                          "percent": 10,
                          "return_amount": 50,
                          "sale_schema": "standard",
                          "value": 200
                        }
                      ],
                      "created_at": "2023-01-15T10:30:00Z",
                      "currency_code": "RUB",
                      "declared_price": {
                        "amount": "1000",
                        "currency": "RUB"
                      },
                      "description_category_id": 42,
                      "discounted_fbo_stocks": 5,
                      "errors": [
                        {
                          "attribute_id": 101,
                          "code": "INVALID_PRICE",
                          "field": "price",
                          "level": "ERROR",
                          "state": "pending",
                          "texts": {
                            "attribute_name": "Цена",
                            "description": "Цена не может быть отрицательной",
                            "hint_code": "PRICE_NEGATIVE",
                            "message": "Исправьте цену",
                            "params": [
                              {
                                "name": "min_price",
                                "value": "100"
                              }
                            ],
                            "short_description": "Ошибка цены"
                          }
                        }
                      ],
                      "has_discounted_fbo_item": false,
                      "id": 100001,
                      "images": [
                        "https://example.com/image1.jpg",
                        "https://example.com/image2.jpg"
                      ],
                      "is_archived": false,
                      "is_autoarchived": false,
                      "is_discounted": true,
                      "is_kgt": false,
                      "is_prepayment_allowed": true,
                      "is_super": false,
                      "min_price": "999.99",
                      "model_info": {
                        "count": 3,
                        "model_id": 777
                      },
                      "name": "Тестовый товар 123",
                      "offer_id": "OFFER_123456789",
                      "old_price": "1499.99",
                      "price": "1299.99",
                      "price_indexes": {
                        "color_index": "RED",
                        "external_index_data": {
                          "minimal_price": "1199.99",
                          "minimal_price_currency": "RUB",
                          "price_index_value": 85
                        },
                        "ozon_index_data": {
                          "minimal_price": "1250.00",
                          "minimal_price_currency": "RUB",
                          "price_index_value": 90
                        },
                        "self_marketplaces_index_data": {
                          "minimal_price": "1200.00",
                          "minimal_price_currency": "RUB",
                          "price_index_value": 88
                        }
                      },
                      "primary_image": [
                        "https://example.com/primary_image.jpg"
                      ],
                      "promotions": [
                        {
                          "is_enabled": true,
                          "type": "DISCOUNT"
                        }
                      ],
                      "sku": 123456789,
                      "sources": [
                        {
                          "created_at": "2023-01-10T09:15:00Z",
                          "quant_code": "QUANT_123",
                          "shipment_type": "EXPRESS",
                          "sku": 123456789,
                          "source": "supplier_1"
                        }
                      ],
                      "statuses": {
                        "is_created": true,
                        "moderate_status": "approved",
                        "status": "active",
                        "status_description": "Товар доступен для продажи",
                        "status_failed": "none",
                        "status_name": "Активен",
                        "status_tooltip": "Товар прошёл модерацию",
                        "status_updated_at": "2023-01-14T11:20:00Z",
                        "validation_status": "valid"
                      },
                      "stocks": {
                        "has_stock": true,
                        "stocks": [
                          {
                            "present": 50,
                            "reserved": 5,
                            "sku": 123456789,
                            "source": "main_warehouse"
                          }
                        ]
                      },
                      "type_id": 1,
                      "updated_at": "2023-01-16T12:45:00Z",
                      "vat": "20%",
                      "visibility_details": {
                        "has_price": true,
                        "has_stock": true
                      },
                      "volume_weight": 1.5
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "403": {
            "description": "Доступ запрещён",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "409": {
            "description": "Конфликт запроса",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        },
        "tags": [
          "ProductAPI"
        ],
        "x-fbo-scope": "shared",
        "x-subscription-access": {
          "mode": "no_mandatory_paid_subscription_documented",
          "basis": "Текст текущей документации Ozon; доступ конкретного кабинета определяется его правами."
        }
      }
    },
    "/v4/product/info/attributes": {
      "post": {
        "summary": "Получить описание характеристик товара",
        "description": "Возвращает описание характеристик товаров по идентификатору и видимости. Товар можно искать по `offer_id`, `product_id` или `sku`.",
        "operationId": "ProductAPI_GetProductAttributesV4",
        "parameters": [
          {
            "$ref": "#/components/parameters/Client-Id"
          },
          {
            "$ref": "#/components/parameters/Api-Key"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/productv4GetProductAttributesV4Request"
              },
              "example": {
                "filter": {
                  "product_id": [
                    "0"
                  ],
                  "offer_id": [
                    "string"
                  ],
                  "sku": [
                    "0"
                  ],
                  "visibility": "ALL"
                },
                "limit": 100,
                "sort_dir": "ASC"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Описание характеристик товара",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/productv4GetProductAttributesV4Response"
                },
                "example": {
                  "result": [
                    {
                      "id": 213761435,
                      "barcode": "",
                      "barcodes": [
                        "123124123",
                        "123342455"
                      ],
                      "name": "Пленка защитная для Xiaomi Redmi Note 10 Pro 5G",
                      "offer_id": "21470",
                      "type_id": 124572394,
                      "height": 10,
                      "depth": 210,
                      "width": 140,
                      "dimension_unit": "mm",
                      "weight": 50,
                      "weight_unit": "g",
                      "primary_image": "https://ir-20.ozone.ru/s3/multimedia-4/6804736960.jpg",
                      "sku": 423434534,
                      "model_info": {
                        "model_id": 43445453,
                        "count": 4
                      },
                      "images": [
                        "https://ir-20.ozone.ru/s3/multimedia-4/6804736960.jpg",
                        "https://ir-20.ozone.ru/s3/multimedia-j/6835412647.jpg"
                      ],
                      "pdf_list": [],
                      "attributes": [
                        {
                          "id": 5219,
                          "complex_id": 0,
                          "values": [
                            {
                              "dictionary_value_id": 970718176,
                              "value": "универсальный"
                            }
                          ]
                        },
                        {
                          "id": 11051,
                          "complex_id": 0,
                          "values": [
                            {
                              "dictionary_value_id": 970736931,
                              "value": "Прозрачный"
                            }
                          ]
                        },
                        {
                          "id": 10100,
                          "complex_id": 0,
                          "values": [
                            {
                              "dictionary_value_id": 0,
                              "value": "false"
                            }
                          ]
                        },
                        {
                          "id": 11794,
                          "complex_id": 0,
                          "values": [
                            {
                              "dictionary_value_id": 970860783,
                              "value": "safe"
                            }
                          ]
                        },
                        {
                          "id": 9048,
                          "complex_id": 0,
                          "values": [
                            {
                              "dictionary_value_id": 0,
                              "value": "Пленка защитная для Xiaomi Redmi Note 10 Pro 5G"
                            }
                          ]
                        },
                        {
                          "id": 5076,
                          "complex_id": 0,
                          "values": [
                            {
                              "dictionary_value_id": 39638,
                              "value": "Xiaomi"
                            }
                          ]
                        },
                        {
                          "id": 9024,
                          "complex_id": 0,
                          "values": [
                            {
                              "dictionary_value_id": 0,
                              "value": "21470"
                            }
                          ]
                        },
                        {
                          "id": 10015,
                          "complex_id": 0,
                          "values": [
                            {
                              "dictionary_value_id": 0,
                              "value": "false"
                            }
                          ]
                        },
                        {
                          "id": 85,
                          "complex_id": 0,
                          "values": [
                            {
                              "dictionary_value_id": 971034861,
                              "value": "Brand"
                            }
                          ]
                        },
                        {
                          "id": 9461,
                          "complex_id": 0,
                          "values": [
                            {
                              "dictionary_value_id": 349824787,
                              "value": "Защитная пленка для смартфона"
                            }
                          ]
                        },
                        {
                          "id": 4180,
                          "complex_id": 0,
                          "values": [
                            {
                              "dictionary_value_id": 0,
                              "value": "Пленка защитная для Xiaomi Redmi Note 10 Pro 5G"
                            }
                          ]
                        },
                        {
                          "id": 4191,
                          "complex_id": 0,
                          "values": [
                            {
                              "dictionary_value_id": 0,
                              "value": "Пленка предназначена для модели Xiaomi Redmi Note 10 Pro 5G. Защитная гидрогелевая пленка обеспечит защиту вашего смартфона от царапин, пыли, сколов и потертостей."
                            }
                          ]
                        },
                        {
                          "id": 8229,
                          "complex_id": 0,
                          "values": [
                            {
                              "dictionary_value_id": 91521,
                              "value": "Защитная пленка"
                            }
                          ]
                        }
                      ],
                      "attributes_with_defaults": [
                        5435,
                        3452
                      ],
                      "complex_attributes": [],
                      "color_image": "",
                      "description_category_id": 71107562
                    }
                  ],
                  "total": 1,
                  "last_id": "onVsfA=="
                }
              }
            }
          },
          "400": {
            "description": "Неверный параметр",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "403": {
            "description": "Доступ запрещён",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "404": {
            "description": "Ответ не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "409": {
            "description": "Конфликт запроса",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          },
          "500": {
            "description": "Внутренняя ошибка сервера",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rpcStatus"
                }
              }
            }
          }
        },
        "tags": [
          "ProductAPI"
        ],
        "x-fbo-scope": "shared",
        "x-subscription-access": {
          "mode": "no_mandatory_paid_subscription_documented",
          "basis": "Текст текущей документации Ozon; доступ конкретного кабинета определяется его правами."
        }
      }
    },
    "/v1/product/info/description": {
      "post": {
        "summary": "Получить описание товара",
        "operationId": "ProductAPI_GetProductInfoDescription",
        "parameters": [
          {
            "$ref": "#/components/parameters/Client-Id"
          },
          {
[...]
